////////////
#INCLUDES {} // Partial Sass files to be imported here.
////////////

// @import 'mixins';
// @import 'themes/theme1';
@import 'themes/theme2';
// @import 'themes/theme3';

/////////////////
#MEDIA-QUERIES {} // Design "breakpoints".
/////////////////

// WIDTH
$small-width: 580px;

$xsmall: "(min-width: 400px)";
$small: "(min-width: 580px)";
$small-max: "(max-width: 579px)";
$medium: "(min-width: 720px)";
$medium-max: "(max-width: 719px)";
$large: "(min-width: 960px)";
$large-max: "(max-width: 959px)";
$xlarge: "(min-width: 1200px)";
$xxlarge: "(min-width: 1500px)";

$xxlarge: "(min-width: 1500px)";

// ORIENTATION
$landscape: "(orientation: landscape)";
$portrait: "(orientation: portrait)";


/////////////
#VARIABLES {} // Reusable, common values.
/////////////

$pad: 2rem; // gutter, margin, etc.
$border-radius: 2px;
$main-nav-height: 70px;
$main-footer-height: 75px;

// COLORS

$highlight-color: $dark-color;
$highlight-background: $color2;

// TIMING
$anim-speed: 0.3s;


//////////
#MIXINS {}
//////////

@mixin clearfix() { // Clear floats.
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after { clear: both; }
}

@mixin magic-center() { // Center an element within its parent.
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin hardware-acceleration() { // Trigger hardware acceleration on an element to improve performance.
    transform: translateZ(0);
}

@mixin flex-ghost() { // Fix for uneven flexbox grids.
    height: 0 !important;
    visibility: hidden !important;
    padding: 0 !important;
    margin: 0 !important;
}

@mixin max-width() {
    margin: 0 auto;
    max-width: 1400px;
}

@mixin child-cutout {
        z-index: 0;
        position: relative;
        // display: none;
        display: inline-block;
        position: absolute;
        right: 0;
        bottom: 0;
        background-size: 100%;
        width: 325px;
        height: 400px;
        overflow-x: hidden;
        right: 0;
        .overflow-hack {
            overflow-x: hidden;
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: url('../img/child-cutout-2.png') left bottom no-repeat;
            background-size: 100%;
        }
        // @media #{$small} {
        //     display: block;
        //     position: absolute;
        //     right: 0;
        //     bottom: 0;
        //     width: 200px;
        //     height: 200px;
        //     .overflow-hack {
        //         overflow-x: hidden;
        //         position: absolute;
        //         top: 0;
        //         right: -0;
        //         width: 100%;
        //         height: 100%;
        //         background: url('../img/child-cutout-2.png') left bottom no-repeat;
        //         background-size: 100%;
        //     }
        // }
        @media #{$medium} {
            display: block;
            position: absolute;
            right: -100px;
            bottom: 0;
            width: 300px;
            height: 300px;
            .overflow-hack {
                overflow-x: hidden;
                position: absolute;
                top: 0;
                right: -50px;
                width: 100%;
                height: 100%;
                background: url('../img/child-cutout-2.png') left bottom no-repeat;
                background-size: 100%;
            }
        }
        @media #{$large} {
            display: block;
            position: absolute;
            right: 0;
            bottom: 0;
            // width: 325px;
            height: 300px;
            .overflow-hack {
                overflow-x: hidden;
                position: absolute;
                top: 0;
                right: -130px;
                width: 100%;
                height: 100%;
                background: url('../img/child-cutout-2.png') left bottom no-repeat;
                background-size: 100%;
            }
        }
        @media #{$xlarge} {
            display: block;
            position: absolute;
            right: 0;
            bottom: 0;
            // width: 275px;
            height: 300px;
            .overflow-hack {
                overflow-x: hidden;
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background: url('../img/child-cutout-2.png') left bottom no-repeat;
                background-size: 100%;
            }
        }
}


// GRID
// Grid solution???


///////////////////
#FIGHT-THE-POWER {} // Kill what browsers try to force upon you (reset).
///////////////////

* { 
    position: relative; 
    box-sizing: border-box; 
    user-select: none;
    &:focus {
        outline: none;
    }
}

html {
    -webkit-font-smoothing: antialiased;
    position: relative;
    @media #{$large} {
        top: 0;
        left: 0;
    }
}

body {
    position: relative;
    overflow: scroll;
}

html, body {
    height: 100%;
    margin: 0;
    // overflow-x: hidden;
}

button {
    appearance: none;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    user-select: none;
    background: transparent;
}

img, video {
    max-width: 100%;
}

a, .link { 
    $color: $dark-color;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    user-select: none;
    // color: $color;
    color: $color;
    border-color: $color;
    font-weight: 700;
    border-bottom: 2px solid $color;
    cursor: pointer;
    &:focus {
        outline: none;
    }
    &.button {
        display: inline-block;
        // border-bottom: none;
    }
            // color: $color3;
            // border-color: $color3;
            // font-size: 28px;
    &:hover {
        color: $color1;
        border-color: $color1;
    }
    &.alt {
        @extend %heading-font;
        border: none;
    }
    &.light {
        color: $color4;
        &:hover {
            color: $white;
        }
    }
    &.no-border {
        border: none;
    }
}

@-ms-viewport {
  width: device-width; // IE10 "snap" mode
}


//////////////
#TYPOGRAPHY {}
//////////////

%heading-font {
    font-family: $heading-font, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: $heading-weight;
}

%paragraph-font {
    font-family: $paragraph-font, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}


////////
#BASE {} // The basic/core styles of common elements used throughout site. (No classes)
////////

html { // HTML! (add significant settings here)
    @extend %paragraph-font; 
    font-size: 14px;
    line-height: 1.4rem;
    background: $white;
    color: $dark-gray; 
    @media #{$medium} {
        // font-size: 16px;
    }
    @media #{$large} {
        font-size: 16px;
    }
    @media #{$xlarge} {
        font-size: 18px;
    }
}

body {
    > section {
        height: 100%;
    }
}

h1 {
    // margin-bottom: 25px;
    font-size: 3rem;
    line-height: 1.2;
    color: $white;
    // letter-spacing: 0.5px;
    margin: 1rem 0 1rem 0;
    // text-shadow: 0 1px 0 #000;
    &:first-child {
        // margin-top: 0;
    }
}

h2 {
    color: $color1;
    // color: $color1;
    font-size: 2.1rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    &.alt {
        color: $dark-color;
        .icon {
            fill: $dark-color;
        }
        .community-icon {
            color: $white;
            path {
                stroke: $white;
            }
        }
        &:hover {
            color: $dark-color;
            .icon {
                fill: $dark-color;
            }
            .community-icon {
                color: $white;
                path {
                    stroke: $white;
                }
            }

        }
        &:hover {
            color: $dark-color;
            .icon {
                fill: $color1;
            }
            .community-icon {
                path {
                    stroke: $white;
                }
            }
        }
    }
    // text-shadow: 0 1px 0 $color1;
    // letter-spacing: 1px;
}

h3 {
    // width: 100%;
    margin: 0.7rem 0;
    color: $dark-color;
    font-size: 1.4rem;
    line-height: 1.1;
    // letter-spacing: 0.5px;
    &:first-child {
        // margin-top: 0;
    }
    @media #{$large} {
        // font-size: 21px;
        // margin-bottom: 15px;
    }
}

h4 {
    font-size: 1.2rem;
    margin: 0.5rem 0 0.5rem 0;
}

h1, h2, h3, h4, h5 {
    @extend %heading-font;
    // text-transform: uppercase;
    user-select: all;
    &::selection {
        color: $highlight-color;
        background: $highlight-background;
    }
    &:first-child {
        margin-top: 0;
    }
    b {
        font-weight: $heading-weight;
    }
}

p {
    line-height: 1.6;
    margin: 0 0 1rem;
    &.lead {
        font-size: 1.2rem;
        line-height: 1.8;
    }
    user-select: all;
    &::selection {
        color: $highlight-color;
        background: $highlight-background;
    }
}

button, a {}

header {
    display: block;
    h1 {
    }
    p {
        // color: #eddfa8;
        // font-weight: bold
    }
}

footer {
    @media #{$large} {
    }
}

nav {
    a {
        text-decoration: inherit;
    }
}

input[type="text"], textarea {
    @extend %paragraph-font;
    // font-weight: bold;
    font-size: 16px;
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    border-radius: $border-radius;
    min-height: 40px;
    &:focus {
        outline: none !important;
    }
    padding: 10px;
}

::placeholder {
    font-size: 0.9rem;
}

input[type="text"] {
    height: 35px;
    padding: 0 0.8rem;
}

textarea {
    resize: none;
}

blockquote {
    margin: 0;
}


///////////
#MAIN {} // The main styles.
///////////


.button {
    // border-radius: $border-radius;
    font-family: 'brandon-grotesque';
    $height: 2.4rem;
    $color: $color4; // button highliht color
    // background: $color;
    color: $light-color;
    padding: 0 1rem;
    height: $height;
    line-height: $height;
    border-radius: $border-radius;
    margin: 1rem 0;
    font-size: 1.1rem;
    // border: 1px solid darken($dark-color, 10%);
    // text-transform: uppercase;
    // letter-spacing: 0.5px;
    border-bottom: none;
    font-weight: 700;
    &:hover {
        background: $light-color;
        color: $dark-color;
    }
    &:active {
        background: $light-color;
        color: $dark-color;
    }
    &:last-child {
        margin-bottom: 0;
    }
    + .heading {
        margin-top: 30px;
    }
    + .button {
        margin-left: 0.2rem;
    }
    background: radial-gradient(rgba($color1, 0.0) 33%, rgba($color1, 0) 100%), 
                radial-gradient(rgba($dark-color, 1) 0%, rgba($dark-color, 1) 100%);

    // background: $dark-color;
    @media #{$large} {
    }
    &.major {
        $color: $dark-color; // button highliht color
        padding: 0 2rem;
        height: 3.6rem;
        line-height: 3.6rem;
        vertical-align: middle;
        margin-bottom: 3rem;
        color: $color4;
        background: radial-gradient(rgba($color, 0.2) 0%, rgba($color, 0) 66%), 
                radial-gradient(rgba($color1, 1) 0%, rgba($color1, 1) 100%);
        .feed-heading {
            line-height: 3.6rem;
        }
        &:hover {
            color: $dark-color;
            .feed-heading {
                color: $dark-color;
            }
            .icon {
                fill: $dark-color;
            }
        }
    }
    &.alt {
        background: radial-gradient(rgba($color4, 0.3) 0%, rgba($color4, 0) 100%), 
                    radial-gradient(rgba($dark-color, 1) 0%, rgba($dark-color, 1) 100%);
        background: $color1;
        color: #fff;

        &:hover {
            // background: radial-gradient(rgba($light-color, 0.3) 0%, rgba($light-color, 0) 66%), 
            //         radial-gradient(rgba($color1, 1) 0%, rgba($color1, 1) 100%) !important;
            background: $white;
            color: $dark-color;
        }
    }
    &.alt-2 {
        background: $color4;
        color: $dark-gray;

        &:hover {
            // background: radial-gradient(rgba($light-color, 0.3) 0%, rgba($light-color, 0) 66%), 
            //         radial-gradient(rgba($color1, 1) 0%, rgba($color1, 1) 100%) !important;
            background: $white;
            color: $dark-color;
        }
    }
    &.large {

    }
    &.minor {
        background: transparent;
        color: $dark-color;
        margin-top: 0;
        &:hover {
            // background: $light-gray;
            color: $color1;
        }
        &:active {
            // background: $light-gray;
            color: $color1;
        }
    }
}

.radio-label {
    cursor: pointer;
    line-height: 2.4; 
    border-right: 1px solid darken($color4, 44%);
    @extend %heading-font;
    &:first-child {
        .label-text {
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
        }
    }
    &:last-child {
        border-right: none;
        .label-text {
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;   
        }
    }
    input[type='radio'] {
        
    }
}

.label-text {
    height: 40px;
    line-height: 40px;
    background: $color4;
    color: $dark-gray;
    &:hover {
        background: $white;
        color: $black;
    }
}

.radio-option {
    &:checked {
        + .label-text {
            background: $color4;
            color: $dark-color;
        }
    }
}

input[type='radio'].radio-option {
    position:absolute;
    clip: rect(0,0,0,0); // Hide without "diplay: none; (accessibility)"
    clip: rect(0 0 0 0);
    margin: 0;
     + label::before {
        content: "";
    }
    &:checked + label::before {
        content: "";
    }
}

.main-logo {
    z-index: 1;
    background: url('../img/logo-stylized.png') center center no-repeat;
    width: 66px;
    height: $main-nav-height;
    margin: 0 auto;
    background-size: 100%;
    cursor: pointer;
    border: none;
    @media #{$large} {
        position: absolute;
        left: 0;
        display: inline-block;
    }
    @media #{$large-max} {
        display: inline-block;
        vertical-align: middle;
        margin: 0 auto;
    }
}

.callout {
    background: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    padding: $pad;
    color: $light-color;
    @media #{$large} {
        padding: $pad;
    }
    h1, h2, h3, h4, h5 {
        z-index: 10;
    }
    h2 {
        color: $white;
    }
    .button {
        &:last-child {
            margin-bottom: 0;
        }
    }
    p {
        color: $light-color;
    }
    + .callout {
    }
    &.major {
        background: radial-gradient(rgba($color4, 0.3) 0%, rgba($color4, 0) 90%),
                radial-gradient(rgba($color1, 1) 0%, rgba($color1, 1) 100%);
        h2 {
            color: $white;
        }
        h3 a {
        }
        p {
            color: $white;
        }
    }
    .news-feed {

    }
}

.strip {
    background: $color2;
    p {
        color: $light-color;
    }
    h2 {
        color: $dark-gray;
    }
    p {
        z-index: 10;
        color: $dark-gray;
        @media #{$medium} {
            max-width: 460px;
        }
        @media #{$large} {
            max-width: 650px;
        }
        margin: 0 auto 1rem;
    }
}

.main-nav {
    @include hardware-acceleration;
    @include clearfix;
    background: rgba($black, 0.66);
    z-index: 10;
    height: $main-nav-height;
    transition: height $anim-speed;
    .inner-container {
        position: relative;
        height: 100%;
    }
    .container {
        height: 100%;
    }
    @media #{$large-max} {
        text-align: center;
    }
    @media #{$large} {}
    .facebook-logo, .twitter-logo {
        fill: $white;
        @media #{$large} {
            fill: $color4;
        }
    }
}

.show-main-nav {
    .main-nav-list {
        height: 200px;
        @media #{$medium} {
            height: 150px;
        }
        @media #{$large} {
            height: auto;
        }
    }    
    .main-nav {
        height: 270px;
        @media #{$medium} {
            height: 215px;
        }
        @media #{$large} {
            height: $main-nav-height;
        }
    }
}

.main-nav-link {
    float: left;
    width: 50%;
    color: $white;
    border: none;
    text-align: center;
    border: 1px solid rgba($dark-color, 0.25);
    border-left: none;
    border-top: none;
    vertical-align: middle;
    height: 50px;
    vertical-align: middle;
    line-height: 50px;
    font-family: 'brandon-grotesque';
    font-size: 1.1rem;
    &:hover {
        color: $white;
        @media #{$large-max} {
            background: $color4;
            color: $color1;
        }
        @media #{$large} {
            color: $white;
        }
        .facebook-logo, .twitter-logo {
            fill: $white !important;
        }
    }
    &:active {
        color: $white;
        @media #{$large-max} {
            background: $color4;
            color: $color1;
        }
        @media #{$large} {
            color: $color1;
        }
        .facebook-logo, .twitter-logo {
            fill: $white !important;
        }
    }
    &.donate-button {
        width: 100%;
        margin: 0;
        line-height: auto !important;
        &:hover {
            background: $white;
        }
    }
    &:active {
        color: $white;
    }
    &.twitter, &.facebook {
        width: 25%;
    }

    @media #{$medium} {
        width: 33.3333%;
        &.twitter, &.facebook {
            width: 33.3333%;
        }
    }
    @media #{$large} {
        float: left;
        width: auto;
        height: $main-nav-height;
        line-height: $main-nav-height;
        padding: 0 $pad/3;
        border: none;
        color: $color4;
        &.donate-button {
            line-height: 3;
            padding: 1rem;
            width: auto;
            color: $white;
        }
        &.twitter, &.facebook {
            width: auto;
        }
    }
}

.main-nav-essentials {
    @include max-width;
    height: $main-nav-height;
    @media #{$large} {
        width: 100%;
        height: 100%;
    }
}

.main-nav-list {
    @include hardware-acceleration;
    z-index: 1;
    transition: height $anim-speed;
    overflow: hidden;
    padding: 0;
    background: $color1;
    text-align: center;
    border-bottom: none;
    height: 0px;
    @media #{$large} {
        @include max-width;
        position: relative;
        left: 75px;
        display: inline-block;
        height: 100%;
        background: transparent;
        max-height: none;
        text-align: left;
    }
}

.social {
    @include clearfix;
    display: inline-block;
}

.social-link {
    svg {
        display: inline-block;
    }
    svg, span {
        vertical-align: middle;
    }
}

.essential-button {
    z-index: 10;
    min-width: 94px;
    position: absolute;
    bottom: 0;
    border: none;
    color: $color4;
    &.button {
        height: $main-nav-height;
        line-height: $main-nav-height;
        background: transparent;
        margin: 0;
        @media #{$large-max} {
            &:hover {
                background: transparent;
            }
            &:active {
                background: transparent;   
            }
        }
        &:hover {
            fill: $color1;
            color: $color1;
        }
    }
    @media #{$medium} {}
    @media #{$large} {
        bottom: auto;
        height: auto;
    }
    &.button {
        @media #{$large} {
            height: auto;
            line-height: 3.3333rem;       
        }
    }
    span {
        vertical-align: middle;
        &:first-child {
            display: inline-block;
        }
    }
}

.main-nav-breakouts {
    position: relative;
    display: inline-block;
    width: 100%;
    @media #{$large} {
        width: auto;
        display: block;
    }
}

.main-donate-button {
    margin: 0 !important;
    vertical-align: middle;
    span {
        &:first-child {
            vertical-align: middle;
        }
    }
    left: 8px;
    &.button {
        &:hover {
            color: $dark-color !important;
            .icon {
                fill: $dark-color !important;
            }
        }

    }
    @media #{$large} {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: 0;
        left: auto;
    }
}

.donate-button {
    &.button {
        @media #{$large} {
            background: $dark-color;
            margin-top: 0;
            margin-right: 0.5rem;
            line-height: 2.8rem;
            height: 2.8rem;
        }
        &.alt {
            @media #{$large} {
                background: $color4;
                color: $dark-gray;
                .heart-icon {
                    fill: $dark-gray;
                }
            }
        }
        &:hover {
            @media #{$large} {
                background: $white;
                color: $color1;
            }
            .heart-icon {
                fill: $color1;
            }
        }
    }
    .heart-icon {
        fill: $color4;
    }
}

.donate-options {
    &.callout {
        padding: 0;
    }   
    .container + .container {
        border-left: 1px solid rgba($dark-color, 0.3);
    }
    .button {
        margin-top: 0;
    }
}

.sweepstakes-options {
    .container + .container {
        border-left: 1px solid rgba($dark-color, 0.3);
    }
}

.toggle-nav-button {
    right: 8px;
    overflow: hidden;
    cursor: pointer;
    z-index: 10;
    &.button {
        &:hover {
            .nav-icon-line {
                background: $color1;
            }
        }
        &:active {
            .nav-icon-line {
                background: $color1;
            }
        }
    }
    @media #{$large} {
        display: none;
    }
}

.toggle-nav-icon {
    width: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}

.nav-icon-line {
    height: 2px;
    background: $color4;
    margin: 3px 0;
    border-radius: 1px;
    &:first-child {
        margin-top: 0;
    }
}

.page-wrap {
    @media #{$large} {
        min-height: 100%;
        margin-bottom: -68px;
        &:after {
            content: '';
            display: block;
            height: 68px;
        }
    }
}

.main-footer {
    z-index: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: $dark-gray;
    font-size: 12px;
    padding-bottom: 0;
    @media #{$large-max} {
        padding-top: 1rem;
        padding-bottom: 0;
    }
    @media #{$large} {
    }
    .facebook-logo, .twitter-logo {
        fill: $light-color;
    }
    .container {
        @media #{$large-max} {
            padding: 1.4rem 0;
        }
    }
    &:after {
        @media #{$large} {
            height: 87px;
        }
    }
}

.footer-nav {
    @include clearfix;
    text-align: center;
    padding-bottom: 1.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    @media #{$medium} {
        padding-left: 0;
        padding-right: 0;
    }
    @media #{$large} {
        text-align: left;
        padding-bottom: 0;
    }
    a {
        display: inline-block;
        color: $light-color;
        border-color: $light-color;
        vertical-align: middle;
        border: none;
        font-family: 'brandon-grotesque';
        font-size: 0.9rem;
        padding: 0 $pad/3;
        &:hover {
            color: $color1;
            border-color: $color1;
        }
        &:last-child {
            margin-right: 0;
        }
        @media #{$large-max} {
            float: left;
            line-height: 3.3333rem;
            height: 3.3333rem;
            width: 33.3333%;
            &.footer-logo {
                display: block;
                float: none;
                width: 60px;
                height: 57px;
                margin: 0 auto;
                + a {
                    clear: both;
                }
            }
        }
    }
    .donate-button {
        vertical-align: middle;
        margin: 0;
    }
}

.footer-nav-link {
    &:first-child {
        @media #{$large} {
            padding-left: 0;
        }
    }
    &.back-to-top {
        @media #{$large-max} {
            width: 100%;
            padding: 1rem 0 2rem;
        }
    }
}

.footer-details {
    display: none;
    background: darken($dark-gray, 15%);
    @media #{$large} {
        text-align: left;
        padding-left: 0.5rem;
    }
    &.container.small { // selector too specialized.
        @media #{$medium-max} {
            padding: 1rem 3rem;
        }
    }
    p {
        font-size: 0.7rem;
        color: $color1;
        font-weight: 500;
        margin-bottom: 0.4em;
        &:last-child {
            margin-bottom: 0;
        }
        &.small {
            font-size: 0.5rem;
            color: $light-color;
        }
    }
    a {
        color: $color1;
        border-color: $color1;
        font-weight: 500;
        border-width: 1px;
        padding-bottom: 2px;
        &:hover {
            color: $white;
            border-color: $white;
        }
    }
}

.footer-icon {
    float: right;
}

.footer-logo {
    display: block;
    z-index: 1;
    background: url('../img/logo-off-white.png') center center no-repeat;
    width: 60px;
    height: 56px;
    margin: 0 auto;
    background-size: 100%;
    cursor: pointer;
    border: none;
    @media #{$large} {
        width: 95px;
        background: url('../img/logo-off-white.png') center center no-repeat;
        background-size: 70px;
    }
    @media #{$large-max} {
        margin: 0 auto;
    }
}

.pinball-footer {
    display: none;
    z-index: -1;
    height: 100px;
    @media #{$large} {
        height: 400px;
    }
}

.playfield {
    float: left;
    width: 100%;
    height: 100%;
    background: url('../img/pinball-footer.jpg') center bottom no-repeat;
    background-size: 100%;
}

.ball-lane {
    display: none;
    float: right;
    background: lighten(#ffb049, 20%);
    width: 30px;
    height: 100%;
    @media #{$large} {
        width: 100px;
    }
}

.ball {
    position: absolute;
    bottom: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: 0;
    padding-top: 100%;
    background: $light-gray;
    border-radius: 100%;
}

.pinball-front {
    display: none;
    @include clearfix;
    width: 100%;
    padding: $pad;
    height: auto;
    float: left;
    clear: both;
    background: $dark-gray;
}

.bumper-button {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    background: $color1;
    &.left {
        float: left;
    }
    &.right {
        float: right;
    }
}

.start-button {
    display: none;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: $color2;
}

.coin-slots {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.coin-slot {
    width: 4rem;
    height: 5rem;
    background: $dark-color;
    + .coin-slot {
        margin-left: 1rem;
    }
}

.plunger {
    display: none;
    float: right;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: $color1;   
}



.sub-nav {
    @include clearfix;
    a {
        float: left;
        clear: left;
        line-height: 2;
    }
    @media #{$large} {
        float: left;
        width: 20%;
    }
}

.main-content {
    @include clearfix;
    float: left;
    width: 80%;
}

.main-header {
    @include hardware-acceleration;
    $width: none;
    overflow: hidden;
    background: $color1;
    transition: margin $anim-speed, top $anim-speed;
    margin-top: -$main-nav-height;
    padding-top: $main-nav-height;
    height: auto;
    color: $white;
    &.full-screen {
        @media #{$large} and #{$landscape} {
            height: 100vh;
        }
        @media #{$medium} and #{$portrait} {
            height: 50vh;
        }
        @media #{$large} and #{$portrait} {
            height: 66vh;
        }
        .main-header-content {
            z-index: 1;
            @media #{$large} {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: auto;
                padding-top: $main-nav-height;
            }
            p {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    
    .main-header-content {
        z-index: 1;
        // @media #{$medium} {
        //     padding: 1rem;
        // }
        > div {
            z-index: 10;
        }
    }
    &.center-text {
        h1 {
            margin: 0 auto 1rem;
            &:last-child {
                margin-bottom: 0;
            }
        }    
    }
    p {
        color: $light-color;
        &.alt {
            color: $dark-color;
        }
    }
    h1, h2, h3, h4, h5 {
    }
    .max-width {
    }
    animation-name: cycleBackground;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-direction: alternate;
    // .link {
    //     color: $color1;
    //     border-color: $color1;
    //     &:hover {
    //         color: $white;
    //         border-color: $white;
    //     }
    // }
    + .main-header {
        margin-top: 0;
    }
}

.home-header {
    h1 {
        max-width: 800px;
    }
    p {
        margin: 0 auto 1rem;
        max-width: 820px;
    }
    @media #{$large} {
        p {
            margin: 0 auto 1rem;
        }
    }
}

.home {
    .feed {
        .post-preview {
            &:last-child {
                border: none;
            }
        }
    }
}

.about-header {
    p {
        margin: 0 auto 1rem;
        text-align: left;
        @media #{$small-max} {
        }
    }
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 300px;
        width: 100%;
        background: linear-gradient(0deg, rgba($black, 0.5) 50%, transparent 100%);
    }
}

.impact-header {
    > div > .container {
        padding-bottom: 0;
    }
}

.store-header, .sponsors-header {
    p {
        max-width: 750px;
        margin: 0 auto;
    }
}

.store-item-photo {
    width: 100%;
    height: 0;
    padding-top: 60%;
    // background: $light-color;
    margin: 0 auto;
    &.placeholder {
        background-color: $light-color;
    }
}

.hospital-preview {
    margin-bottom: 1rem;
}

.hospital-photo {
    width: 60px;
    height: 60px;
    background: $dark-gray;
    border-radius: 100%;
    display: inline-block;
}

.hospital-text {
    display: inline-block;
    // width: calc(100% - 65px);
    // padding-left: 0.5rem;
    h3 {
        margin: 0;
    }
}

.hospital-name {}

.hospital-photo, .hospital-text {
    vertical-align: middle;
}

.quotes {
}

.quote {
    margin-bottom: 2rem;
    p {
        text-indent: 2.5rem;   
    }
    // font-size: 1.2rem;
    // line-height: 1.8;
}

.quote-photo {
    background: $black;
    width: 75px;
    height: 75px;
    border-radius: 100%;
}

.quote-text {
    // padding-left: 0.5rem;
}

.quote-mark {
    &.left {
        position: absolute;
        top: 2rem;
        left: 0;
        font-size: 6rem;
        line-height: 1rem;
    }
    &.right {
        font-size: 1.2rem;
        line-height: 1rem;
    }
}

.speaker {
    font-weight: 700;
}

.quote-photo, .quote-text {
    display: inline-block;
    vertical-align: middle;
} 

.events-header {
    .button {
        margin-bottom: 0;
    }
}

.feed-header {
    @media #{$large} {
        min-height: 55vh;
    }
    @media #{$xlarge} {
        min-height: 75vh;
    }
    .main-header-content {
        background: rgba($black, 0.5);
        background: radial-gradient(rgba($black, 0.3) 0%, rgba($black, 0.5) 100%);
        @media #{$large} {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }
}

.header-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%;
    max-width: none;
    @media #{$xxlarge} {
        width: 100%;
        height: auto;
    }
}

.header-image {
    background-size: cover;
    &:before {
        content: '';
        z-index: 1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba($black, 0.55);
        background: radial-gradient(rgba($black, 0.4) 25%, rgba($black, 0.6) 90%);
    }
    &.no-dim {
        &:before {
            content: "";
            display: none;
        }
    }
}

.container {
    margin: 0 auto;
    .button {
        &:hover {
        }
    }
    padding: 1.4rem;
    @media #{$large} {
        padding: $pad;
    }
    &.flush-sides {
        padding-left: 0;
        padding-right: 0;
    }
    &.flush-top {
        @media #{$large-max} {
            padding: 0;
        }
        padding-top: 0;
    }
    &.flush-y {
        @media #{$large-max} {
            padding: 0;
        }
        padding-top: 0;
        padding-bottom: 0;
    }
    &.small {
        padding: 1rem 2rem;
    }
}



.back-to-back-container {
    padding-top: 0;
}

.flush-top {
    padding-top: 0;
}

.flush-sides {
    padding-left: 0;
    padding-right: 0;
}

.flush

.wrapper {
    @include clearfix;
    clear: both;
}

.max-width {
    width: 100%;
    margin: 0 auto;
    max-width: 1400px;
    + .max-width {
        margin-top: 1rem;
    }
}

.form {
    label {
        font-weight: 700;
        margin-right: $pad/2;
    }
    div {
        margin-bottom: $pad;
    }
    textarea {
        vertical-align: top;
    }
    input + label {
        margin-left: $pad/2;
    }
}

.thirds {

}

.halves {

}

[class*='grid-'] {
    @media #{$large} {
    }
}

.grid {
    @media #{$small} {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
    }
}

.col {

}

.row {
    margin-top: 1rem;   
}

.grid-1 {
    @media #{$small} {
        width: 100%;
    }
}

.grid-2 {
    @media #{$small} {
        width: calc(50% - 0.75rem);
    }
    &.close {
        @media #{$small} {
            width: calc(50% - 0.5rem);
        }   
    }
}

.grid-3 {
    @media #{$small} {
        display: block;
        width: calc(33.3333% - 1rem);
    }
}

.grid-4 {
    @media #{$small} {
        display: block;
        width: calc(25% - 1rem);
    }
}

.grid-5 {
    @media #{$small} {
        display: block;
        width: calc(20% - 1rem);
    }
}

.grid-2-of-3-large {
    @media #{$large} {
        flex: 0 0 100%;
        order: 1;
        display: block;
        width: calc(66.6666% - 1rem);
    }
}

.grid-1-of-3-large {
    @media #{$large} {
        order: 2;
        flex: 0 0 calc(50% - 1rem);
        display: block;
        width: calc(33.3333% - 1rem);
        margin-left: auto;
    }
}

.grid-row-1 {
    &[class*="grid-"] {
        height: calc(50% - 1rem);
        @media #{$large} {
            margin-bottom: 0 !important;
        }
    }
}

.donate-callout {
    background-repeat: no-repeat;
    background-position: right top -85px;
    background-size: cover;
    text-align: right;
    padding-bottom: 2.8rem;
    padding-top: 2.8rem;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    @media #{$large} {
        background-position: right -120px, -175px -245px;
        background-size: 40%, 80%;
        &:before {
        }
    }
    p {
        z-index: 1;
        margin: 0 auto;
        max-width: 560px;
    }
    .button {
        z-index: 1;
        margin-bottom: 0;
    }
    .child-cutout-1 {
        @media #{$xlarge} {
            width: 325px;
        }
    }
}

.events-callout {
    p {
        display: inline-block;
        margin-right: 1rem;
    }
}

.impact-callout-alt {
    $border-width: 1px;
    background-position: center center, center center;
    background-repeat: no-repeat;
    background-size: 225px, 100% 50%;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: url('../img/us-map.svg');
        background-repeat: no-repeat;
        background-position: center 1rem, left center, right center;
        background-size: 300px, 100%, 400px;
    }
    @media #{$large} {
        background-position: center center, right center;
        &:before {
            background-size: 275px, 100%;
            background-repeat: no-repeat;
        }
    }
    @media #{$large-max} {
        background-position: center 2rem, center -2rem;
    }
    .button {
        margin-top: 0;
    }
    h2 {
        color: $dark-color;
        max-width: 675px;
        margin: 0 auto 1rem;
    }
    p {
        display: inline-block;
        max-width: 800px;
        margin: 0 1rem 0 0;
    }
}

.footer-callout {
    padding-bottom: 3.3333rem * 5 !important;
    @media #{$large} {
        padding-bottom: calc(#{$main-footer-height} + 3rem) !important;
    }
}

.feed-heading {
    text-align: center;
    &.button {
        width: auto;
    }
    @media #{$large-max} {
        margin: 1rem auto 2rem;
    }
}

.feed-item-title {
    display: inline-block;
    margin: 0 0 0.1rem 0;
    font-weight: bold;
    a {
        border: none;
    }
}

.feed-item-text {
    color: $dark-gray;
    font-size: 0.9rem;
}

.feed-item-post-date {
    font-size: 0.7rem;
    font-weight: 700;
    margin-bottom: 0.1rem;
    color: $color1;
}

.feed-item-event-date {
    font-size: 0.9rem;
    font-weight: 700;
    margin-bottom: 0;
    color: $color1;
}

.feed {
    text-align: center;
    overflow: hidden;
    .post-preview {
        &:nth-child(11) {
            border-bottom: 0;
        }
    }
    .more-link {
        display: inline-block;
        margin-bottom: 1rem;
        @extend %heading-font;
    }
}

.post-preview {
    text-align: left;
    margin-bottom: 0.7rem;
    border-bottom: 1px solid $light-gray;
    padding-bottom: 1rem;
    &:last-child {
        border: none;
    }
    &.overlay-text {
        overflow: hidden;
        padding-bottom: 0;
        &:after {
            pointer-events: none;
            z-index: 99;
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 10%;
            background: linear-gradient(0deg, rgba($black, 0.75) 0%, rgba($black, 0) 100%);
        }
        .post-preview-media {}
        .post-preview-image { margin-bottom: 0; }
        .post-preview-text {
            position: absolute;
            top: 0;
            @media #{$medium} {
                top: auto;
                bottom: 0;
            }
            @media #{$large} {
                height: auto;
            }
            h3, h3 a {
                color: $white;
            }
            padding: 1rem;
            background: rgba($black, 0.66);
            h3.feed-item-title {
                a {
                    color: $color4;
                    &:hover {
                        color: $white;
                    }
                }
            }
        }
        .feed-item-post-date { color: $white; }
        p.feed-item-text {
            color: $white;
            a {
                color: $color4;
                border-color: $color4;
                &:hover {
                    color: $white;
                    border-color: $white;
                }
            }
        }
    }
}

.post-preview-text {}



.news-feed {
    margin-bottom: 2rem;
}

.events-feed {
    .post-preview-image {
        &:last-child {
            display: none;
        }
    }
}

.condensed-news-feed {
    .post-preview {
        &:nth-child(7) {
            border-bottom: none;
        }
        @media #{$large} {
            &:nth-child(6) {
                border-bottom: none;
            }
        }
    }
    .feed-heading {
        margin-bottom: 2rem;
    }
}

.condensed-post-preview {
    overflow: hidden;
    .post-preview-image {
        float: left;
        width: 100%;
        height: 0;
        padding-top: 100%;
        @media #{$large} {
            padding-top: 100%;
        }
        @media #{$xlarge} {
            padding-top: 100%;
        }
    }
    .post-preview-text {
        float: left;
        width: 75%;
        height: 100%;
        margin: 0;
        padding-left: 1rem;
        &:after {
            pointer-events: none;
            z-index: 99;
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 1rem;
            background: linear-gradient(0deg, rgba($white, 1) 5%, rgba($white, 1) 100%);
        }
    }
    .feed-item-title {
    }
    .feed-item-post-date {
    }
    .feed-item-text {
        display: none;
        @media #{$small} {
            display: block;
        }
        @media #{$large} {}
    }
    .feed-item-post-date {}
    .post-preview-media {
        float: left;
        width: 25%;
    }
    .post-preview-text {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.post-preview-image {
    width: 100%;
    height: 0;
    padding-top: 65%;
    background: $light-gray;
    margin-bottom: 0.5rem;
    border-radius: $border-radius;
    cursor: pointer;
    &.lead-image {
        @media #{$large} {
            padding-top: 50%;
        }
    }
}

.post-preview-calendar {
    $color: $color1;
    padding-top: 100%;
    background: $color1;
    color: $color;
    .month, .day {
        @extend %heading-font;
    }
    .month {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: transparent;
        font-size: 1rem;
        font-weight: 700;
        text-align: center;
        color: $white;
        height: 2rem;
        line-height: 2rem;
        @media #{$small} {
            height: 1.2rem;
            line-height: 1.2rem;
        }
        @media #{$medium} {
            height: 1.2rem;
            line-height: 1.2rem;
        }
        @media #{$large} {
            height: 1.8rem;
            line-height: 1.8rem;
        }
        @media #{$xlarge} {
        }
    }
    .day {
        position: absolute;
        bottom: 0;
        width: 100%;
        vertical-align: middle;
        font-weight: 700;
        text-align: center;
        font-weight: 700;
        height: calc(100% - 2rem);
        background: $white;
        @media #{$small} {
            height: calc(100% - 1.2rem);
        }
        @media #{$medium} {
            height: calc(100% - 1.8rem);
        }
        @media #{$large} {
            height: calc(100% - 1.8rem);
        }
        @media #{$xlarge} {
            height: calc(100% - 1.8rem);
        }
        .number {
            font-size: 3rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            bottom: 0;
            text-align: center;
            line-height: 1.4rem;
            @media #{$small} {
                font-size: 1.8rem;
                line-height: 1.2rem;
            }
            @media #{$medium} {
                font-size: 1.8rem;
                line-height: 1rem;
            }
            @media #{$large} {
                font-size: 2rem;
                line-height: 1.2rem;
                
            }
            @media #{$xlarge} {
                font-size: 2.4rem;
                line-height: 1.4rem;   
            }
        }
    }
}

.calendar-composition {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 100%;
    height: 100%;
    border: 2px solid $color1;
    border-radius: $border-radius;
}

.donate-form, .contact-form {
    margin: 0 auto;
    max-width: calc(100% - 1rem);
    @media #{$medium} {
        max-width: 50%;
    }
    > input, textarea {
        width: 100%;
    }
    input, fieldset {
        margin-bottom: 1rem;
    }
    fieldset {
        label {
            float: left;
            width: 20%;
        }
    }
    fieldset {
        padding: 0;
        border: none;
        -webkit-margin-start: 0;
        -webkit-margin-end: 0;
    }
    label {
        input {
            margin: 0 0.5rem 0 0;
        }
        input, span {
            vertical-align: middle;
        }
    }
    .donate-option {
        display: block;
        height: 35px;
        width: 100%;
        text-align: left;
    }
}

.post-preview-image-1 {
    background: url('../img/post-preview-image-1.jpg') center center no-repeat;
    background-size: cover;
}

.post-preview-image-2 {
    background: url('../img/post-preview-image-2.jpg') center center no-repeat;
    background-size: cover;
}

.post-preview-image-3 {
    background: url('../img/post-preview-image-3.jpg') center center no-repeat;
    background-size: cover;
}

.post-preview-image-4 {
    background: url('../img/post-preview-image-4.jpg') center center no-repeat;
    background-size: cover;
}

.instagram-logo {
    background: url('../img/instagram-logo.svg') center center no-repeat;;
}

.twitter-logo, .facebook-logo, .instagram-logo {
    display: inline-block;   
    vertical-align: middle; 
    @media #{$medium} {

    }
    border: none !important;
}

///////////
#WIDGETS {}
///////////


    ._2lqg {
        height: auto !important;
        max-height: none !important;
    }




///////////
#GRAPHICS {}
///////////

.impact-callout {
    @include clearfix;
    $border-width: 1px;
    background-position: center center, center center;
    padding: $pad 0.5rem;
    @media #{$large} {
    }
    .button {
        margin-top: 0;
    }
    h2 {
        color: $dark-color;
        margin: 0 auto 1rem;
    }
    p {
        color: $white;
        max-width: 700px;
        margin: 0 auto 1rem;
        @media #{$large} {
            max-width: 540px;
        }
    }
    h2, p {
        z-index: 10;
    }
    .child-cutout {
        z-index: 0;
        display: none;
        @media #{$large} {
            position: absolute;
            right: 0;
            bottom: 0;
            background: url('../img/child-cutout-3.png') center bottom no-repeat;
            background-size: 100%;
            width: 500px;
            height: 600px;
        }
    }
}

.score-display {
    @media #{$small} {
        float: left;
        width: 50%;
    }
    @media #{$large} {}
    line-height: 2;
    @extend %heading-font;
    @media #{$medium} {
        margin: 0 auto 0.8rem;
    }
    @media #{$large} {
        margin-bottom: 0;
    }
    &.full-width {
        float: none;
        width: 100%;
        .score-label, .score-group {
            @media #{$large} {
                display: inline-block;
            }
        }
        .score-group {
            width: auto;
        }
    }
    .score-group {
        @media #{$large} {
            width: 100%;
            &:first-child {
                margin-right: 1rem;
                margin-bottom: 0.75rem;
            }
        }
        @media #{$large} {
            display: inline-block;
            margin-right: 1rem;
            &:first-child {
                margin-bottom: 0;
            }
        }
        &:last-child {
            margin-right: 0;
            .score-label {
                margin-bottom: 0;
            }
        }
    }
    .score-number {
        font-size: 2.1rem;
        background: $dark-color;
        padding: 0.2rem 0.6rem;
        line-height: 1.2;
        border-radius: 2px;
        vertical-align: middle;
        font-weight: 900;
    }
    .score-label {
        margin-bottom: 1rem;
        vertical-align: middle;
        @media #{$medium} {
            margin-bottom: 0;
        }
    }
    .score-number, .score-label  {
        display: inline-block;
        @media #{$medium} {}
    }
    .score-label {
        display: block;
        @media #{$large} {}
    }
    font-size: 2.1rem;
    line-height: 1.7;
    color: $color4;
    vertical-align: middle;
}

.map-composition {
    margin-bottom: 0.5rem;

    h3 {
        position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        transform: translate(-50%, -50%);
        white-space: nowrap;
        color: $dark-gray;
        line-height: 1.2;

    }
    @media #{$small} {
        padding: 0.5rem 3rem;
    }
    @media #{$large} {
        float: right;
        width: 100%;
    }
    .us-map {
        display: block;
        margin: 0 auto;
        width: 260px;
        max-width: 80%;
        fill: $dark-color;
        z-index: 0;
    }
    .ribbon-heading {
        position: absolute;
        top: 50%;
        left: 50%;
        display: inline-block;
        font-size: 0;
        line-height: 1.2;
        overflow: hidden;
        &:before, &:after {
            content: "";
            display: inline-block;
            vertical-align: middle;
            margin: 0;
            line-height: 1.4;
            width: 30px;
            height: 42px;
            @media #{$medium} {
                height: 41px;
            }
            @media #{$large} {
                height: 47px;
            }
            @media #{$xlarge} {
                height: 53px;
            }
        }
        &:before {
            background: url('../img/ribbon-edge.svg') right -1px center no-repeat;
            background-size: 100%;
        }
        &:after {
            background: url('../img/ribbon-edge.svg') right -1px center no-repeat;
            background-size: 100%;
            transform: rotate(180deg);
            margin-left: -3px;
        }
        .ribbon-content {
            display: inline-block;
            vertical-align: middle;
            line-height: 1.4;
            font-size: 1.4rem;
            background: $color4;
            padding: 0.5rem 2rem;
            @media #{$medium} {
                padding: 0.5rem 1.5rem;
            }
        }
    }
}

.map-text {
    padding: 0 3rem;
}

.map-group {
    float: right;
    @media #{$small} {
        margin: 0 auto;
        float: none;
        width: 50%;
            margin: 0 auto;
        float: none;
        width: 50%;
        max-width: 50%;
        overflow: hidden;
    }
    @media #{$medium} {}
    @media #{$xlarge} {
        padding-right: 0;
    }
}

.text-overlay {
    width: auto;
    padding: $pad/3 0;
    &.lead {
        color: $dark-color;
    }
}

.attribution {
    color: $color1;
    margin-top: 1rem;
    font-weight: 700;
}

.why-pinball-callout {
    background-color: $color4;
    background-image: linear-gradient(90deg, rgba($color2, 0.75) 0%, rgba($color2, 0.75) 100%),
                          linear-gradient(180deg, rgba($color2, 0) 0%, rgba($color2, 1) 45%),
                          url('../img/child-8-bw.jpg');
        background-position: center center, center bottom, left top;
        background-repeat: no-repeat;
        background-size: 100%, 100%, 140%;
    @media #{$medium} {
        background-image: linear-gradient(90deg, rgba($color2, 0.5) 0%, rgba($color2, 0.5) 100%),
                          linear-gradient(90deg, rgba($color2, 0) 0%, rgba($color2, 0.5) 10%, rgba($color2, 1) 50%),
                          url('../img/child-8-bw.jpg');
        background-position: center center, right center, left -50px bottom;
        background-repeat: no-repeat;
        background-size: 100%, 100%, auto 115%;
        padding-bottom: 2rem;
    }
    @media #{$large} {
        background-image: linear-gradient(90deg, rgba($color2, 0.5) 0%, rgba($color2, 0.5) 100%),
                          linear-gradient(90deg, rgba($color2, 0) 0%, rgba($color2, 0.5) 10%, rgba($color2, 1) 30%),
                          url('../img/child-8-bw.jpg');
        background-position: center center, right center, left bottom;
        background-repeat: no-repeat;
        background-size: 100%, 100%, auto 115%;
    }
    @media #{$xlarge} {
        background-image: linear-gradient(90deg, rgba($color2, 0.5) 0%, rgba($color2, 0.5) 100%),
                          linear-gradient(90deg, rgba($color2, 0) 0%, rgba($color2, 0.5) 12%, rgba($color2, 1) 25%),
                          url('../img/child-8-bw.jpg');
        background-position: center center, right center, left center;
        background-repeat: no-repeat;
        background-size: 100%, 100%, auto 150%;
    }
    h2 {
        color: $dark-gray;
    }
    p {
        z-index: 10;
        color: $dark-gray;
        @media #{$medium} {
            max-width: 460px;
        }
        @media #{$large} {
            max-width: 650px;
        }
        margin: 0 auto 1rem;
    }
    .quote {
        margin-bottom: 1.3rem;
    }
    .child-cutout {
        z-index: 0;
        display: none;
        width: 120px;
        height: 255px;
        margin: 0 auto;
        bottom: 0;
        .overflow-hack {
            position: absolute;
            overflow-x: hidden;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: url('../img/child-cutout-1.png') right bottom no-repeat;
            background-size: 100%;
        }
        @media #{$medium} {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 170px;
            height: 420px;
            .overflow-hack {
                position: absolute;
                overflow-x: hidden;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background: url('../img/child-cutout-1.png') right -10px bottom no-repeat;
                background-size: 100%;
            }
        }
        @media #{$large} {
            width: 170px;
            height: 420px;
            .overflow-hack {
                right: 10px;
            }
        }
        @media #{$xlarge} {
            width: 170px;
            height: 420px;
            right: 150px;
            .overflow-hack {
            }
        }
    }
}

.child-cutout-1 {
    z-index: 0;
    position: relative;
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    background-size: 100%;
    width: 340px;
    height: 400px;
    overflow-x: hidden;
    right: 0;
    .overflow-hack {
        overflow-x: hidden;
        position: absolute;
        top: 0;
        right: -40px;
        width: 100%;
        height: 100%;
        background: url('../img/child-cutout-2.png') left bottom no-repeat;
        background-size: 100%;
    }
    // @media #{$small} {
    //     display: block;
    //     position: absolute;
    //     right: 0;
    //     bottom: 0;
    //     width: 200px;
    //     height: 200px;
    //     .overflow-hack {
    //         overflow-x: hidden;
    //         position: absolute;
    //         top: 0;
    //         right: -0;
    //         width: 100%;
    //         height: 100%;
    //         background: url('../img/child-cutout-2.png') left bottom no-repeat;
    //         background-size: 100%;
    //     }
    // }
    @media #{$medium} {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 350px;
        height: 340px;
        .overflow-hack {
            overflow-x: hidden;
            position: absolute;
            top: 0;
            right: -180px;
            width: 100%;
            height: 100%;
            background: url('../img/child-cutout-2.png') left bottom no-repeat;
            background-size: 100%;
        }
        &.full-size {

        }
    }
    @media #{$large} {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 360px;
        height: 350px;
        .overflow-hack {
            overflow-x: hidden;
            position: absolute;
            top: 0;
            right: -180px;
            width: 100%;
            height: 100%;
            background: url('../img/child-cutout-2.png') left bottom no-repeat;
            background-size: 100%;
        }
    }
    @media #{$xlarge} {
        position: absolute;
        right: 0;
        bottom: 0;
        .overflow-hack {
            overflow-x: hidden;
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: url('../img/child-cutout-2.png') left bottom no-repeat;
            background-size: 100%;
        }
    }
}

.child-cutout-2 {
    display: none;
    overflow-x: hidden;
    z-index: 10;
    position: absolute;
    right: 35px;
    bottom: 0;
    background-size: 100%;
    width: 155px;
    height: 280px;
    overflow-x:hidden;
    .overflow-hack {
        overflow-x: hidden;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: url('../img/child-cutout-1.png') left top no-repeat;
        background-size: 100%;
    }
    @media #{$medium} {
        z-index: 10;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 150px;
        height: 290px;
        .overflow-hack {
            overflow-x: hidden;
            top: 0;
            right: -35px;
            width: 100%;
            height: 100%;
            background-position: left -5px top;
        }
    }
    @media #{$large} {
        z-index: 10;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 155px;
        height: 270px;
        .overflow-hack {
            overflow-x: hidden;
            position: absolute;
            top: 0;
            right: -30px;
            width: 100%;
            height: 100%;
            background: url('../img/child-cutout-1.png') left top no-repeat;
            background-size: 100%;
        }
    }
    @media #{$xlarge} {
        width: 200px;
        height: 320px;
        right: 2rem;
        .overflow-hack {
            right: 0;
            bottom: 0;
            background-size: cover;
        }
    }
}

.child-cutout-3 {
    display: none;
    z-index: 0;
    width: 175px;
    height: 380px;
    margin: 0 auto;
    bottom: 0;
    .overflow-hack {
        position: absolute;
        overflow-x: hidden;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: url('../img/child-cutout-3.png') right bottom no-repeat;
        background-size: 100%;
    }
    @media #{$medium} {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 175px;
        height: 420px;
        .overflow-hack {
            position: absolute;
            overflow-x: hidden;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: url('../img/child-cutout-3.png') left bottom no-repeat;
            background-size: 100%;
        }
    }
    @media #{$large} {
        position: absolute;
        right: 0;
        bottom: 0;
        background-size: 100%;
        width: 500px;
        height: 400px;
        .overflow-hack {
            position: absolute;
            overflow-x: hidden;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: url('../img/child-cutout-3.png') left bottom no-repeat;
            background-size: 100%;
        }
    }
}

.supporter-callout {
    $border-width: 1px;
    margin-top: 1rem;
    .button {
        margin: 0;
    }
    @media #{$large-max} {
        [class^="grid-"] + [class^="grid-"] {
            margin-top: 3rem;
        }
    }
}

.supporter-text {
    margin-top: 1rem;
}

.supporter-description {
    margin-top: 1rem;
    @media #{$large} {
        padding: 0 2.1rem;
    }
}

.child-1 {
    background-image: url('../img/child-1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
}

.child-2 {
    background-image: url('../img/child-12.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
}

.child-3 {
    background-image: url('../img/child-14.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    @media #{$large} {
        background-position: center center;
    }
}

.child-4 {
    background-image: url('../img/child-8.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.child-5 {
    background-image: url('../img/child-15.jpg');
    background-repeat: no-repeat;
    background-position: center left -100px;
    background-size: 300%;
    @media #{$medium} {
        background-position: center left;
        background-size: cover;
    }
}

.child-6 {
    background-image: url('../img/child-13.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
}

.group-1 {
    background-image: url('../img/group-1.jpg');
    background-repeat: no-repeat;
    background-position: center top;
}

.pinball-1 {
    background-image: url('../img/pinball-1.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.pinball-2 {
    background-image: url('../img/pinball-3.jpg');
    background-repeat: no-repeat;
    background-position: center center;
}

.pinball-3 {
    background-image: url('../img/pinball-2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
}

.pinball-1-alt {
    background-image: url('../img/pinball-1-alt.jpg');
    background-repeat: no-repeat;
    background-position: center center;
}

.event-preview-image-1 {
    background-image: url('../img/event-preview-image-1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.event-2 {
    background-image: url('../img/event-2.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.event-3 {
    background-image: url('../img/event-3.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;   
}

.event-4 {
    background-image: url('../img/event-4.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;   
}

.hospital-1 {
    background-image: url('../img/hospital-1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;   
}

.tournament-1 {
    background-image: url('../img/tournament-1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;   
}

.tshirt-1 {
    background-image: url('../img/tshirt-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90%;   
}

.sticker-1 {
    background-image: url('../img/sticker-1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 45%;   
}

.artwork-1 {
    background-image: url('../img/artwork-1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60%;   
}

.featured-supporter {
    + .featured-supporter {
        margin-top: 3rem;
        @media #{$small} {
            margin-top: 0;
        }
    }
}

.featured-supporter-image {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 0.3rem solid $color2;
    margin: 0 auto;
    @media #{$large} {
        width: 250px;
        height: 250px;
    }
}

.featured-sponsor {
    background: url('../img/featured-sponsor.jpg') center center no-repeat;
    background-size: 100%;
    background-color: #fff;
}

.featured-volunteer {
    background: url('../img/supporter-2.jpg') center -50px no-repeat;
    background-size: 100%;
    background-color: #fff;
}

.team {
}

.team-members, .sponsors {
    margin-bottom: 0.5rem;
}

.team-member, .sponsor {
    @media #{$large} {}
    + .team-member, + .sponsor {
        margin-top: 3rem;
        @media #{$small} {
            margin-top: 0;
        }
    }
}

.team-member-image {
    $size: 200px;
    width: $size;
    height: $size;
    margin: 0 auto;
    background: $light-color;
    border-radius: 100%;
    margin-bottom: 1rem;
    border: 0.3rem solid $color2;
    @media #{$large} {
        width: 275px;
        height: 275px;
    }
}

.sponsor-image {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background: $light-color;
    border-radius: 100%;
    margin-bottom: 2.5rem;
    border: 0.3rem solid $color2;
    @media #{$large} {
        width: 200px;
        height: 200px;
    }
    span {
        @include magic-center;
        color: $dark-gray;
        vertical-align: middle;
    }
}

.person-placeholder {
    background: $light-color url('../img/person-placeholder.svg') center bottom -10px no-repeat;
}

.get-involved-image {
    $size: 200px;
    width: $size;
    height: $size;
    margin: 0 auto;
    background-color: $light-color;
    border-radius: 100%;
    margin-bottom: 1rem;
    border: 0.3rem solid $color2;
    @media #{$large} {
        width: 300px;
        height: 300px;
    }
}

.daniel-spolar {
    background: url('../img/daniel-spolar.jpg') center center no-repeat;
    background-size: cover;
}

.pinball {
    display: none;
    position: absolute;
    left: 50%;
    top: -1.5rem;
    transform: translate(-50%, 0);
    background: url('../img/pinball.svg') center center no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 1px 1px 4px rgba($black, 0.9);
}

.digital-number {}

.full-width-image {
    height: 0;
    padding-top: 30%;
}

.pagination {
    text-align: right;
    margin-left: auto;
}

///////////////////
#QUICK-AND-DIRTY {} // Style now, refactor later.
///////////////////

.center-text {
    text-align: center;
}

.align-left, .left-align  {
    text-align: left;
}

.center-element {
    margin: 0 auto;
}

.inner-container {
    @include max-width;
}

.section-border {
    border-bottom: 1px solid $light-gray;
    padding-bottom: 1.8rem;
}

.static-header {
    p {
        margin-bottom: 0;
    }
}

.extra-margin {
    margin-bottom: 2rem;
}

.store-item {
    margin-bottom: 1rem;
    .button {
        margin: 0;
    }
}

.store-item-image {
    width: 100%;
    height: 0;
    padding-top: 66%;
    // background-color: $light-color;
    margin-bottom: 1rem;
}

.block {
    display: inline-block;
    clear: left;
}

.send-email {
    @media #{$medium} {
        margin-right: 0.5rem;
    }
}

.sponsor-group {
    margin-bottom: 1rem;
}

.google-map {
    // display: none;
    // position: absolute;
    // bottom: 0;
    // left: 50%;
    // transform: translate(-50%, 0);
    margin: 0 auto;
    width: 100%;
    @media #{$medium} {
        // width: calc(100% - 6rem);
    }
    height: 0;
    padding-top: 50%;
    // height: 500px;
    overflow: hidden;
    // box-shadow: 0 0 1rem 0 rgba($black, 0.15);
    border: 1px solid rgba($light-color, 0.3);
    background-color: rgba($white, 0.5);
    z-index: 10;
    border-radius: $border-radius;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
}

.email {
    margin-bottom: 1.8rem;
    margin-top: 0;
    a {
        color: $dark-color;
        border: none;
        &:hover {
            color: $white;
            border-color: $white;
        }
    }
}

.price {
    // font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: $dark-color;
}


.post-details {
    
}

.post-date {
    margin: 0;   
}

.share-button {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
}

form.registration {
    input, textarea {
        width: 100%;
        border: 1px solid $light-gray;
        &:focus {
            border: 1px solid $light-gray;
        }
    }
    textarea {
    }
}

button.submit-event {
    margin: 1rem auto;
}

.contact-info {
    a {
        color: $dark-gray;
        .twitter-logo, .facebook-logo {
            fill: $dark-gray; 
            margin-right: 0.5rem;
            &:hover {
                color: $color4;
            }
        }
    }
}

.impact {
    .score-display {
        margin-bottom: 1.2rem;
    }
    .map-composition {
           float: none;
        // display: none;
        width: 100%;
        padding: 0;
        .us-map {
            display: none;
            width: 100%;
            max-width: 720px;
        }
    }
    .us-map {
        width: 100%;
        path {
            fill: rgba($white, 0.9);
        }
    }
}

.media-gallery {
    text-align: center;
    margin-bottom: 1.5rem;
}

button.more-media {
    margin: 1rem auto 0;
}

.gallery-item {
    background-color: $light-gray;
    height: 0;
    padding-top: 20%;
    cursor: pointer;
    &:hover {
        background-color: lighten($light-gray, 10%);
    }
}


//////////////
#THEME-MODS {}
//////////////

.theme-1 {
    &.light {
       .main-logo {
            background-image: url('../img/logo-dark-red.png');
        } 
    }
}

// .theme-2 {
//     .why-pinball-callout, .donate-callout {
//         &:before {
//             background: rgba($light-color, 0.8);
//         }
//     }
//     .donate-callout {
//         background-size: cover;
//     }
//     &.dark {
//         .main-logo {
//             background-image: url('../img/logo-dark-blue.png');
//         }
//     }
// }

.theme-2 {
    .ribbon-heading {
        &:before, &:after {
            background-image: url("../img/ribbon-edge-2.svg");
        }
    }
    .callout {
        background-color: $white;
    }
    .why-pinball-callout-alt {
        background-color: $color2;
        h2 {
            color: $dark-gray;
        }
        .attribution {
            color: $color1;
        }
    }
    .strip {
        background-color: $color2;
        border: none;
        &:before {
            display: none;
        }
    }
    .feed {
        .button {
            background: $color2;
            color: $color1;
        }
    }
    .feed-item-post-date {
        color: $dark-gray;
    }
    &.show-main-nav {
        .button.toggle-nav-button {
            color: $color4 !important;
            .nav-icon-line {
                background: $color4 !important;
            }
        }
    }
    .donate-callout {
        background-color: $color2;
        p {
            color: $dark-gray;
        }
        .button {
            background: $color1;
        }
    }
    .team {
        background: $color1;
        h3 {
            color: $color4;
        }
    }
}

.theme-3 {
    .strip {
        background-color: $color2;
        border: none;
        &:before {
            display: none;
        }
    }
    .supporter-callout {
        p {
            z-index: 1;
            color: $light-color;
        }
    }
    .donate-callout {
        p {
            color: $dark-gray;
        }
    }
}

.light {
    .main-nav {}  
}

.dark {}

.heart-icon {
    width: 1rem;
    fill: $light-color;
    margin-right: 0.2rem;
    padding-bottom: 4px;
    margin-bottom: -4px;
}

.news-icon {
    width: 1.6rem;
    fill: $color1;
    margin-right: 0.4rem;
}

.events-icon {
    width: 1.4rem;
    fill: $color1;
    margin-right: 0.1rem;
}

.community-icon {
    width: 2.3rem;
    fill: $color1;
    margin-right: 0.5rem;
    path {
        stroke: $color1;
    }
}

.twitter-logo {
    width: 1.5rem;
        fill: $color4;
    @media #{$large} {
        width: 1.1rem;
    }
    &:hover {
        fill: $color1;
    }
}

.facebook-logo {
    width: 1.4rem;
    fill: $color4;
    @media #{$large} {
        width: 1rem;
    }
    &:hover {
        fill: $color1;
    }
}

.arrow-icon {
    vertical-align: middle;
    width: 1.4rem;
    height: 1.4rem;
    fill: $light-color;
    &:hover {
        fill: $color1;
    }
}

.circle-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: rgba($black, 0.5);
    vertical-align: middle;
    .arrow-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @media #{$large} {
        width: 1.1rem;
        height: auto;
    }
}

.news, .events {
    .feed-item-text {}
    .post-preview {}
}

.news {
    .condensed-post-preview {
        .news-feed {
            margin-bottom: 0;
        }
    }
}

.events {
    .feed-item-event-date {
        color: $color1;
    }
}

.top-items {
    .post-preview {
        border-bottom: none;
        @media #{$large-max} {
            margin-bottom: 1rem;
        }
        @media #{$large} {
            border: none;
            margin-bottom: 0;
        }
    }
    .feed-item-text {
        @media #{$large} {
            margin-bottom: 0;
        }   
    }
    .lead-preview {
        &.post-preview, .post-preview-image, .post-preview-media {
            height: 100%;
        }
    }
    .secondary-preview {
        &.post-preview, .post-preview-image, .post-preview-media {
            height: 80%;
        }
        .post-preview-text {
            @media #{$large} {
                top: 0;
                bottom: auto;
            }
        }
    }
}

.grid-column-large {
    @media #{$large} {
        flex-direction: column;
        height: 500px;
    }
}



.twitter-logo, .facebook-logo {
}

// Typekit
h1, h2, h3, p, a, .button {
    transition: opacity 0.3s;
}

// Browsersync
#__bs_notify__ { 
    top: 95% !important;
    right: 0 !important;
    border-radius: 0 !important;
    height: 60px !important; 
}

// Google Map 

.gm-style-cc {
     // + div {
     //    display: none !important;
     //    opacity: 0.5 !important;
     // }
}

///////////////
#STYLE-GUIDE {}
///////////////

.styles, .style-guide {
    padding: 0;
    .logo {
        // margin: 0 auto;
    }
}

.dark-color {
    background: $dark-color;
}

.light-color {
    background: $light-color;
}

.color1 {
    background: $color1;
}

.color2 {
    background: $color2;
}

.color3 {
    background: $color3;
}

.color4 {
    background: $color4;
}

.color5 {
    background: $color5;
}

.color-palette {
    @include clearfix;
    margin: 0 auto 30px;
    padding: 10px;
    text-align: center;
}

.color-swatches {
    @include clearfix;
    display: inline-block;
    width: auto;
    margin: 0 auto;
    vertical-align: middle;

}

.palette-swatch {
    float: left;
    width: 75px;
    height: 75px;
    border: 4px solid #fff;
    box-shadow: 0 0 0 1px rgba($dark-color, 0.25);
    margin: 0 10px;
}

.theme-menu {
    display: none;
    @include clearfix;
    background: $dark-gray;
    .button {
        background: $dark-color;
        color: $color1;
        &:hover {
            background: $color1;
            color: $dark-color;
        }
    }
}

.theme-button {
    margin: 0 !important;
    float: left;
    width: 50%;
    @media #{$large} {
        float: left;
    }
    &.button {
        background: darken($dark-gray, 15%);
        border-radius: 0;
    }
}

