/////////////
#COLORS {} //
/////////////
// $color1: #ff7665;
$color1: #ff6f57;
// $color2: #fbae57;
$color2: #ffb76b;
$color3: #fee28f;
$color4: #4291c0;
$color5: #a0ced7;
// $dark-color: #5f060c;
$dark-color: #4c0400;
$light-color: #fff6e4;
$light-gray: #ccc;
$dark-gray: #27262c;
$black: darken($dark-color, 15%);


////////////
#FONTS {} //
////////////

$heading-font: "brandon-grotesque";
$heading-weight: 900;
$paragraph-font: "adelle";
$paragraph-weight: 700;


// $heading-font: "camingodos-web";
// $heading-font: "vinyl";
// $paragraph-font: "chaparral-pro";
// $heading-font: "fatfrank";
// $heading-font: "freight-sans-pro"; // 700