/////////////
#COLORS {} //
/////////////
// $color1: #ff7665;
$color1: #92cfbc;
$color2: #fdf1de;
$color3: #b81f00;
$color4: #fff9c7;
$color5: #a0ced7;
$dark-color: darken($color1, 45%);
$light-color: #fff6e4;
$light-gray: #ccc;
$dark-gray: #373c39;
$black: darken($dark-color, 25%);
$white: #fffffa;


////////////
#FONTS {} //
////////////

$heading-font: "brandon-grotesque";
$heading-weight: 700;
$paragraph-font: "adelle";
$paragraph-weight: 700;