/////////////
#COLORS {} //
/////////////
// $color1: #ff7665;
$color1: #f09e7a;
$color2: #fdf1de;
$color3: #b81f00;
$color4: #ffe2b0;
$color5: #a0ced7;
$dark-color: saturate(#620507, 33%);
$light-color: #fff6e4;
$light-gray: #ccc;
$dark-gray: #463a3d;
$black: darken(desaturate($dark-color, 33%), 20%);
$white: #fffcf5;


////////////
#FONTS {} //
////////////

$heading-font: "brandon-grotesque";
// $heading-font: "proxima-nova";
$heading-weight: 700;
$paragraph-font: "adelle";
$paragraph-weight: 700;