<div class="page-wrap">
{{> main-nav}}

<header id="main-header" class='main-header about-header center-text header-image group-1'>

    <div class="max-width main-header-content">

        <div class="container">
            <h1>Project Pinball</h1>

            <p class='lead align-left'>Headquartered in Bonita Springs, Florida, Project Pinball is a registered 501(c) (3) charity organization that places pinball machines in children’s hospitals to provide recreational relief to patients, family members, and hospital staff. We have been donating and maintaining pinball machines since 2011, and have since become a nationwide organization with pinball machines in hospitals across the United States. We provide all the equipment, parts, supplies and the regular maintenance at no cost to the hospital. So far, we have raised over $40,000 and donated 15 pinball machines to 13 hospitals in 12 states.</p>
        </div>
    </div>

</header>

<div class='container callout major center-text team'>

    <div class="max-width">

        <!-- <h2>Love Across America</h2> -->

        <h2 class=''>Our Team</h2>
        <div class="team-members grid">
            <div class="team-member grid-3">
                <div class="team-member-content">
                    <div class="team-member-image daniel-spolar"></div>
                    <h3 class="name">Daniel Spolar</h3>
                    <div class="role">Senior Director</div>
                </div>
            </div>
            <div class="team-member grid-3">
                <div class="team-member-image amber-streath person-placeholder"></div>
                <h3 class="name">Amber Streath</h3>
                <div class="role">Executive Assistant</div>
            </div>
            <div class="team-member grid-3">
                <div class="team-member-image rebecca-schleider person-placeholder"></div>
                <h3 class="name">Rebecca Schleider</h3>
                <div class="role">Development Coordinator</div>
            </div>
        </div>

        <button class='button large'>Contact Us</button>

    </div>

    <div class="pinball"></div>

</div>

<div class='container'>

    <div class="pinball"></div>

    <div class="max-width">
        <h2 class="center-text">Our Story</h2>
        <p class="lead">Project Pinball began with the discovery of a broken pinball machine at Golisano Children’s Hospital of Southwest Florida. The machine, located at The Chrissy Brown Hematology and Oncology Unit was no longer functioning. The pinball community and many local benefactors raised funds and donated time to restore the machine to perfect condition.</p>
        <p>This Spiderman Pinball machine, by Stern Pinball, was a memorial gift donated to the hospital in the memory of Jimmy Schneeberger February 17, 1989 – April 13, 2000. It just wasn’t right to see this memorial gift in such disrepair so we decided to change that. During restoration a few changes were made to light bulbs and other high use items in the machine so that it would last longer and not damage as easily as it did before. The members and friends of Project Pinball have not only made a commitment to restore the machine but to also keep it on a regular maintenance schedule so that it doesn’t end up in disrepair again.</p>
        <p>Pinball machines give the young patients motivation to get back on their feet and it also provides the family members of the patients and the support staff a recreational lift.</p>
    </div>
</div>

<div class='container'>

    <div class="max-width grid">
        <div class="feed news-feed grid-3">
            <a href="news.html" class="">
                <h2 class="feed-heading"><span><svg class="icon news-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M29 0H7C5.3 0 4 1.3 4 3v2H3C1.3 5 0 6.3 0 8v20c0 2.2 1.8 4 4 4h24c2.2 0 4-1.8 4-4V3C32 1.3 30.7 0 29 0zM30 28c0 1.1-0.9 2-2 2H4c-1.1 0-2-0.9-2-2V8c0-0.6 0.4-1 1-1h1v20c0 0.6 0.4 1 1 1 0.6 0 1-0.4 1-1V3c0-0.6 0.4-1 1-1h22c0.6 0 1 0.4 1 1V28z" class="a"/><path d="M19.5 13h8c0.3 0 0.5-0.2 0.5-0.5 0-0.3-0.2-0.5-0.5-0.5h-8c-0.3 0-0.5 0.2-0.5 0.5C19 12.8 19.2 13 19.5 13z" class="a"/><path d="M19.5 10h8c0.3 0 0.5-0.2 0.5-0.5 0-0.3-0.2-0.5-0.5-0.5h-8c-0.3 0-0.5 0.2-0.5 0.5C19 9.8 19.2 10 19.5 10z" class="a"/><path d="M19.5 7h8c0.3 0 0.5-0.2 0.5-0.5 0-0.3-0.2-0.5-0.5-0.5h-8c-0.3 0-0.5 0.2-0.5 0.5C19 6.8 19.2 7 19.5 7z" class="a"/><path d="M16.5 27h-8c-0.3 0-0.5 0.2-0.5 0.5 0 0.3 0.2 0.5 0.5 0.5h8c0.3 0 0.5-0.2 0.5-0.5C17 27.2 16.8 27 16.5 27z" class="a"/><path d="M16.5 24h-8c-0.3 0-0.5 0.2-0.5 0.5 0 0.3 0.2 0.5 0.5 0.5h8c0.3 0 0.5-0.2 0.5-0.5C17 24.2 16.8 24 16.5 24z" class="a"/><path d="M16.5 21h-8c-0.3 0-0.5 0.2-0.5 0.5 0 0.3 0.2 0.5 0.5 0.5h8c0.3 0 0.5-0.2 0.5-0.5C17 21.2 16.8 21 16.5 21z" class="a"/><path d="M27.5 27h-8c-0.3 0-0.5 0.2-0.5 0.5 0 0.3 0.2 0.5 0.5 0.5h8c0.3 0 0.5-0.2 0.5-0.5C28 27.2 27.8 27 27.5 27z" class="a"/><path d="M27.5 24h-8c-0.3 0-0.5 0.2-0.5 0.5 0 0.3 0.2 0.5 0.5 0.5h8c0.3 0 0.5-0.2 0.5-0.5C28 24.2 27.8 24 27.5 24z" class="a"/><path d="M27.5 21h-8c-0.3 0-0.5 0.2-0.5 0.5 0 0.3 0.2 0.5 0.5 0.5h8c0.3 0 0.5-0.2 0.5-0.5C28 21.2 27.8 21 27.5 21z" class="a"/><path d="M27.5 15h-19c-0.3 0-0.5 0.2-0.5 0.5s0.2 0.5 0.5 0.5h19c0.3 0 0.5-0.2 0.5-0.5S27.8 15 27.5 15z" class="a"/><path d="M27.5 18h-19c-0.3 0-0.5 0.2-0.5 0.5 0 0.3 0.2 0.5 0.5 0.5h19c0.3 0 0.5-0.2 0.5-0.5C28 18.2 27.8 18 27.5 18z" class="a"/><path d="M9 13h7c0.6 0 1-0.4 1-1V5c0-0.6-0.4-1-1-1H9c-0.6 0-1 0.4-1 1V12C8 12.6 8.4 13 9 13zM10 6h5v5h-5V6z" class="a"/></svg></span>News</h2>
            </a>
            <div>
                <div class="post-preview condensed-post-preview">
                    <div class="post-preview-media">
                        <div class="post-preview-image post-preview-image-4"></div>
                    </div>
                    <div class="post-preview-text">
                        <h3 class="feed-item-title"><a class="" href="">Three people making a difference in April</a></h3>
                        <p class="feed-item-post-date">Posted on March 21, 2016</p>
                        <p class="feed-item-text">Daniel Spolar Founder, Project Pinball Charity Project Pinball Charity, a nonprofit with headquarters in Bonita Springs, recently dedicated a pinball machine in its sixth location... <a href="">more</a></p>
                    </div>
                </div>
                <div class="post-preview condensed-post-preview">
                    <div class="post-preview-media">
                        <div class="post-preview-image post-preview-image-3"></div>
                    </div>
                    <div class="post-preview-text">
                        <h3 class="feed-item-title"><a class="" href="">Chris Griffith Helping Sick Children as...</a></h3>
                        <p class="feed-item-post-date">Posted on March 2, 2016</p>
                        <p class="feed-item-text">When Downing-Frye agent Chris Griffith took a Health Care Tour through the Bonita Chamber of Commerce five years ago she had no idea that it would be... <a href="">more</a></p>
                    </div>
                </div>
                <div class="post-preview condensed-post-preview">
                    <div class="post-preview-media">
                        <div class="post-preview-image post-preview-image-1"></div>
                    </div>
                    <div class="post-preview-text">
                        <h3 class="feed-item-title"><a class="" href="">ABC TV News Story</a></h3>
                        <p class="feed-item-post-date">Posted on Feb 12, 2016</p>
                        <p class="feed-item-text">ABC news story on the pinball machine donated to the Omaha Children's Hospital... <a href="">more</a></p>
                    </div>
                </div>
                <div class="post-preview condensed-post-preview">
                    <div class="post-preview-media">
                        <div class="post-preview-image post-preview-image-2"></div>
                    </div>
                    <div class="post-preview-text">
                        <h3 class="feed-item-title"><a class="" href="">NBC TV News Story</a></h3>
                        <p class="feed-item-post-date">Posted on Jan 19, 2016</p>
                        <p class="feed-item-text">The Project Pinball Charity Group talking about the resurgence of pinball and the helpful properties that they have and how Children’s Hospitals... <a href="">more</a></p>
                    </div>
                </div>
            </div>
            <a href='news.html' class='link more-link'>All News</a>
        </div>
        <div class="feed events-feed grid-3">
            <a href="events.html" class="">
                <h2 class="feed-heading"><span><svg class="icon events-icon" xmlns="http://www.w3.org/2000/svg" viewBox="7 0.7 36.3 39.1"><title>  Calendar</title><desc>  Created with Sketch.</desc><path d="M35.2 27.3H33c-0.8 0-1.5 0.7-1.5 1.5V31c0 0.8 0.7 1.5 1.5 1.5h2.2c0.8 0 1.5-0.7 1.5-1.5v-2.2C36.7 28 36 27.3 35.2 27.3L35.2 27.3zM26.2 27.3H24c-0.8 0-1.5 0.7-1.5 1.5V31c0 0.8 0.7 1.5 1.5 1.5h2.2c0.8 0 1.5-0.7 1.5-1.5v-2.2C27.7 28 27.1 27.3 26.2 27.3L26.2 27.3zM17.3 27.3h-2.2c-0.8 0-1.5 0.7-1.5 1.5V31c0 0.8 0.7 1.5 1.5 1.5h2.2c0.8 0 1.5-0.7 1.5-1.5v-2.2C18.8 28 18.1 27.3 17.3 27.3L17.3 27.3zM26.2 18.8H24c-0.8 0-1.5 0.7-1.5 1.5v2.2c0 0.8 0.7 1.5 1.5 1.5h2.2c0.8 0 1.5-0.7 1.5-1.5v-2.2C27.7 19.5 27.1 18.8 26.2 18.8L26.2 18.8zM35.2 18.8H33c-0.8 0-1.5 0.7-1.5 1.5v2.2c0 0.8 0.7 1.5 1.5 1.5h2.2c0.8 0 1.5-0.7 1.5-1.5v-2.2C36.7 19.5 36 18.8 35.2 18.8L35.2 18.8zM17.3 18.8h-2.2c-0.8 0-1.5 0.7-1.5 1.5v2.2c0 0.8 0.7 1.5 1.5 1.5h2.2c0.8 0 1.5-0.7 1.5-1.5v-2.2C18.8 19.5 18.1 18.8 17.3 18.8L17.3 18.8zM40.2 3.5h-6.4V2.2c0-0.8-0.7-1.5-1.5-1.5s-1.5 0.7-1.5 1.5v1.3H19.5V2.2c0-0.8-0.7-1.5-1.5-1.5s-1.5 0.7-1.5 1.5v1.3H10c-1.7 0-3 1.3-3 3v30.3c0 1.7 1.3 3 3 3h30.3c1.7 0 3-1.3 3-3V6.5C43.2 4.8 41.9 3.5 40.2 3.5L40.2 3.5zM16.5 6.5v2.3c0 0.8 0.7 1.5 1.5 1.5s1.5-0.7 1.5-1.5V6.5h11.4v2.3c0 0.8 0.7 1.5 1.5 1.5 0.8 0 1.5-0.7 1.5-1.5V6.5h6.4v6.2l0 0H10V6.5H16.5L16.5 6.5zM10 36.7V15.6h30.3l0 0v21.1H10L10 36.7z"/></svg></span> Events</h2>
            </a>
            <div>
                <div class="post-preview condensed-post-preview">
                    <div class="post-preview-media">
                        <div class="post-preview-image post-preview-calendar">
                            <div class="calendar-composition">
                                <div class="month">March</div>
                                <div class="day"><span class="number">28</span></div>
                            </div>
                        </div>
                        <div class="post-preview-image post-preview-image-3"></div>
                    </div>
                    <div class="post-preview-text">
                        <h3 class="feed-item-title"><a href="">Stern Pinball &amp; Project Pinball Donate Pinball Machine to Local Children’s Hospital</a></h3>
                        <p class="feed-item-event-date">Mar 28, 2016 @ 4:00pm</p>
                        <p class="feed-item-text">World’s Leading Maker of Arcade-Quality Pinball Machines and Project Pinball Charity Group Team Up To Share the Love of Pinball with Advocate Children’s Hospital Patients... <a href="">more</a></p>
                    </div>
                </div>
                <div class="post-preview condensed-post-preview">
                    <div class="post-preview-media">
                        <div class="post-preview-image post-preview-calendar">
                            <div class="calendar-composition">
                                <div class="month">March</div>
                                <div class="day"><span class="number">10</span></div>
                            </div>
                        </div>
                        <div class="post-preview-image post-preview-image-1"></div>
                    </div>
                        <div class="post-preview-text">
                            <h3 class="feed-item-title"><a href="">Haircut fundraiser to benefit pediatric patients</a></h3>
                            <p class="feed-item-event-date">Mar 10, 2016 @ 2:00pm</p>
                            <p class="feed-item-text">Bonita Springs, FL ­­– La Mouche Salon is proud to support Project Pinball Charity Group by hosting its Sixth Annual Summer Benefit on Saturday, August 16, 2014 from 12:00 pm – 4:00 pm. The salon will offer back-to-school haircut specials for kids starting at $10.00... <a href="">more</a></p>
                        </div>
                </div>
                <div class="post-preview condensed-post-preview">
                    <div class="post-preview-media">
                        <div class="post-preview-image post-preview-calendar">
                            <div class="calendar-composition">
                                <div class="month">February</div>
                                <div class="day"><span class="number">15</span></div>
                            </div>
                        </div>
                        <div class="post-preview-image post-preview-image-2"></div>
                    </div>
                    <div class="post-preview-text">
                        <h3 class="feed-item-title"><a href="">34 IFPA/ Project Pinball Campaign July Tournaments Left!</a></h3>
                        <p class="feed-item-event-date">Feb 15, 2016 @ 6:00pm</p>
                        <p class="feed-item-text">We had a great first weekend! It was a wonderful success. A lot of Charity Pinball Tournaments left, so found one that is nearest you and come out and join us for our cause... <a href="">more</a></p>
                    </div>
                </div>
                <div class="post-preview condensed-post-preview">
                    <div class="post-preview-media">
                        <div class="post-preview-image post-preview-calendar">
                            <div class="calendar-composition">
                                <div class="month">Jan</div>
                                <div class="day"><span class="number">21</span></div>
                            </div>
                        </div>
                        <div class="post-preview-image post-preview-image-3"></div>
                    </div>
                    <div class="post-preview-text">
                        <h3 class="feed-item-title"><a href="">July 1st through 29th IFPA/ Project Pinball Charity Campaign- July 2014</a></h3>
                        <p class="feed-item-event-date">Jan 21, 2016 @ 12:00pm</p>
                        <p class="feed-item-text">You might have heard that Project Pinball Charity has team-up with the IFPA to have month long fundraiser the IFPA/ Project Pinball Fundraiser Campaign- July 2014... <a href="">more</a></p>
                    </div>
                </div>
            </div>
            <a href='events.html' class='link more-link'>All Events</a>
        </div>

        <div class="feed community-feed grid-3">
            <a href="" class="">
                <h2 class="feed-heading"><span><svg class="icon community-icon" xmlns="http://www.w3.org/2000/svg" viewBox="-251.1 355.3 40 25.5"><path d="M-214.5 373.9c-3.2-1-4.3-2.3-4.5-3.2 1-0.1 2.9-0.4 4-1.5 0.2-0.2 0.3-0.5 0.2-0.7 -0.1-0.2-0.3-0.4-0.5-0.5 -0.1 0-1.4-0.6-1.1-3.4 0.2-2.1 0.1-4.9-1.4-6.4 -0.6-0.6-1.5-1-2.4-1 -0.6-0.5-2-1.4-4.3-0.5h0c-1.6 0.6-3.6 2-3.5 6.9 0.1 3.2-0.7 4.2-1.1 4.3 -0.3 0-0.5 0.1-0.6 0.4 -0.2 0.2-0.1 0.6 0.1 0.8 0.1 0.2 1.2 1.6 4.3 1.7 -0.2 0.6-0.8 1.6-2.8 2.5 -0.4 0.2-0.8 0.3-1.2 0.5 0 0-0.1 0-0.2 0.1 -4.1-1.2-5.1-2.5-5.4-3.1 3.2-2.2 2.8-7.6 2.8-8 -0.2-4.9-3.8-6.1-6-6.1 -2.1-0.1-5.8 1.1-6 6.1 0 0.5-0.5 6 2.9 8.2 -0.4 0.6-1.6 2-6.1 3.2 -1.9 0.5-2.8 2.3-2.7 4.9 0 0.4 0.4 0.7 0.8 0.7h22.4c0 0 0 0 0.1 0 0 0 0 0 0.1 0h13.7c0.4 0 0.7-0.3 0.8-0.7C-212 376.3-212.8 374.5-214.5 373.9zM-248.5 378.2c0-1 0.3-2.4 1.6-2.7 7.3-1.8 7.4-4.7 7.4-5 0-0.2-0.1-0.3-0.2-0.4 0 0 0 0 0 0 0 0 0 0-0.1 0 0 0 0 0-0.1 0l0 0 0 0c-3.2-1.5-2.6-6.9-2.6-7v0c0.2-4.6 3.8-4.7 4.5-4.6h0c0.7 0 4.2 0.1 4.5 4.6v0c0 0 0.6 5.3-2.5 6.9 -0.3 0.2-0.5 0.5-0.4 0.9 0.1 0.7 0.8 3.2 7.4 4.9 1.2 0.3 1.5 1.5 1.5 2.6L-248.5 378.2zM-226 378.2c0-1.6-0.6-2.8-1.5-3.6 4.3-2 3.6-4.6 3.6-4.8l-0.1 0c-0.1-0.3-0.4-0.6-0.7-0.6 0 0-0.1 0-0.1 0 -1.4 0-2.3-0.3-2.9-0.6 0.9-0.9 1.3-2.6 1.2-5.1 -0.1-4.4 1.8-5.1 2.6-5.4h0c2-0.7 2.9 0.3 2.9 0.4 0.2 0.2 0.4 0.3 0.6 0.3 0.7-0.1 1.2 0.1 1.6 0.5 0.8 0.8 1.2 2.7 1 5.2 -0.2 2.3 0.4 3.6 1.1 4.2 -1 0.5-2.4 0.6-2.9 0.6 -0.4 0-0.6 0.2-0.7 0.6 0 0 0 0 0 0 -0.1 0.4-0.6 3.6 5.5 5.5 1 0.3 1.3 1.7 1.3 2.8L-226 378.2z" /></svg></span>Community</h2>
            </a>
            <div class="fb-page" data-href="https://www.facebook.com/facebook" data-height="600" data-tabs="timeline" data-small-header="false" data-width="500" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote></div></div>
        </div>

    </div>

</div>

<div class="container callout impact-callout-alt strip center-text">
    <div class="max-width">
        <p class='lead'>We've donated <b>15</b> pinball machines to <b>13</b> hospitals in <b>12</b> states.</p>
        <a href="impact.html" class='button large alt'>See the Impact</a>
    </div>
    <div class="child-cutout"></div>
</div>

</div>

{{> footer}}