<div class="page-wrap">
{{> main-nav}}

<header id="main-header" class='main-header contact-header center-text'>

    <!-- <img class="header-img" src="../img/child-8.jpg" alt=""> -->

    <div class="max-width main-header-content">

        <div class="container">
            <h1>Contact</h1>

            <h3 class="email"><a class="link block" href="">projectpinballcharity@gmail.com</a></h3>

            <form action="" class="contact-form grid">
                    <input class="grid-2 close" type="text" placeholder="First Name">
                    <input class="grid-2 close" type="text" placeholder="Last Name">
                    <input class="grid-1" type="text" placeholder="Email Address">
                    <input class="grid-1" type="text" placeholder="Subject">
                    <textarea name="" placeholder="Message" id="" cols="30" rows="10"></textarea>
            </form>

            <button class='button large send-email alt-2'>Send Email</button>
        </div>


    </div>

</header>

<div class="container">
    <div class="max-width">
        <div class="contact-info center-text">
            <div class="grid">
                <div class="grid-3">
                    <h2>Address</h2>
                    <p class="">Project Pinball Charity Group Inc.</p>
                    <p class="">PO 368022</p>
                    <p class="">Bonita Springs, FL 34136</p>
                </div>
                <div class="grid-3">
                    <h2>Phone</h2>
                    <p class="">239-287-5497</p>
                </div>
                <div class="grid-3">
                    <h2>Social</h2>
                    <p class=""><a class="no-border alt social-link" href=""><svg class="facebook-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M47.2 0H2.8C1.2 0 0 1.2 0 2.8v44.5C0 48.8 1.2 50 2.8 50h44.5c1.5 0 2.8-1.2 2.8-2.8V2.8C50 1.2 48.8 0 47.2 0zM42.2 14.6h-4c-3.1 0-3.7 1.5-3.7 3.7v4.8H42l-1 7.5h-6.5V50h-7.8V30.6h-6.5v-7.5h6.5v-5.6c0-6.5 3.9-10 9.7-10 2.8 0 5.1 0.2 5.8 0.3V14.6z"/></svg><span>Facebook</span></a></p>
                    <p class=""><a class="no-border alt social-link" href=""><svg class="twitter-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M50 9.5c-1.8 0.8-3.8 1.4-5.9 1.6 2.1-1.3 3.7-3.3 4.5-5.7 -2 1.2-4.2 2-6.5 2.5 -1.9-2-4.5-3.2-7.5-3.2 -5.7 0-10.3 4.6-10.3 10.3 0 0.8 0.1 1.6 0.3 2.3C16.1 16.9 8.5 12.8 3.5 6.6c-0.9 1.5-1.4 3.3-1.4 5.2 0 3.6 1.8 6.7 4.6 8.5C5 20.2 3.4 19.7 2 19v0.1c0 5 3.5 9.1 8.2 10.1 -0.9 0.2-1.8 0.4-2.7 0.4 -0.7 0-1.3-0.1-1.9-0.2 1.3 4.1 5.1 7 9.6 7.1 -3.5 2.8-7.9 4.4-12.7 4.4 -0.8 0-1.6 0-2.4-0.1 4.5 2.9 9.9 4.6 15.7 4.6C34.7 45.4 45 29.8 45 16.2c0-0.4 0-0.9 0-1.3C46.9 13.4 48.6 11.6 50 9.5z"/></svg><span>Twitter</span></a></p>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

{{> footer}}