{{> main-nav}}

<header id="main-header" class='main-header about-header center-text header-image child-5'>

    <!-- <img class="header-img" src="../img/child-8.jpg" alt=""> -->

    <div class="max-width main-header-content">

        <div class="container">

            <h1>Donate</h1>

            <form action="" class="donate-form grid">
                    <input class="grid-2 close" type="text" placeholder="First Name">
                    <input class="grid-2 close" type="text" placeholder="Last Name">
                    <input class="grid-1" type="text" placeholder="Email Address">
                    <fieldset class="grid-1">
                        <label class="radio-label" for="amount-10">
                            <input id="amount-10" class="radio-option" name="amount" type="radio">
                            <div class="label-text">$10</div>
                        </label>
                        <label class="radio-label" for="amount-25">
                            <input id="amount-25" class="radio-option" name="amount" type="radio">
                            <div class="label-text">$25</div>
                        </label>
                        <label class="radio-label" for="amount-50">
                            <input id="amount-50" class="radio-option" name="amount" type="radio">
                            <div class="label-text">$50</div>
                        </label>
                        <label class="radio-label" for="amount-75">
                            <input id="amount-75" class="radio-option" name="amount" type="radio">
                            <div class="label-text">$75</div>
                        </label>
                        <label class="radio-label" for="amount-100">
                            <input id="amount-100" class="radio-option" name="amount" type="radio">
                            <div class="label-text">$100</div>
                        </label>
                    </fieldset>
                    <input class="grid-1" type="text" placeholder="Custom Amount">
                    <label class="donate-option" for=""><input type="checkbox"><span>Donate in someone's honor or memory.</span></label>
                    <label class="donate-option" for=""><input type="checkbox"><span>Business match donation.</span></label>
            </form>

            <button class='button large alt-2'>Continue</button>

        </div>

    </div>

</header>

<div class='container callout donate-options team center-text'>

    <div class="max-width grid">

        <div class='container grid-2'>

            <div class="pinball"></div>

            <div class="max-width">
                <h2 class="">Donate a Pinball Machine</h2>
                <p class="lead">Do you have a pinball machine that you would like to donate?</p>
                <button class='button large'>Contact Us</button>
            </div>
        </div>

        <div class='container grid-2'>

            <div class="pinball"></div>

            <div class="max-width">
                <h2 class="">Our Online Store</h2>
                <p class="lead">Support Project Pinball by making a purchase at our store.</p>
                <button class='button large'>Shop</button>
            </div>
        </div>

    </div>

</div>

<div class='container'>

    <div class="pinball"></div>

    <div class="max-width section-border">
        <h2 class="center-text">Donations</h2>
        <p class="">All donations to Project Pinball Charity are tax-deductiblein the United States. The Project Pinball charity is a Non-Profit Corporation organized in accordance with Internal Revenue Code Section 501(c)(3), Federal Tax ID 00-1234567. If you would like to receive a donation receipt, please contact us at <a href="">office.projectpinball@gmail.com</a>. Your support of Project Pinball means the world to the patients, parents, and hospital staff.</p>
        <!-- <p>All donations to Project Pinball Charity are tax-deductiblein the United States. The Project Pinball charity is a Non-Profit Corporation organized in accordance with Internal Revenue Code Section 501(c)(3), Federal Tax ID 00-1234567. If you would like to receive a donation receipt, please contact us at <a href="">office.projectpinball@gmail.com</a>. Your support of Project Pinball means the world to the patients, parents, and hospital staff.</p> -->
    </div>

</div>

<div class="container flush-top">

    <div class="max-width">
        <h2 class="center-text">Other Ways to Give</h2>
        <div class="grid">
            <div class="grid-2 center-text">
                <h3 class="center-text">Amazon Smile</h3>
                <p class="left-align">AmazonSmile is a simple and automatic way for you to support your favorite charitable organization every time you shop, at no cost to you. Go to Amazon Smile, type Project Pinball and select us from the list and you are ready to help. Whenever you shop online using Amazon, they will donate a small portion of the purchase price to Project Pinball Charity on your behalf.</p>
                <button class='button large'>Amazone Smile</button>
            </div>
            <div class="grid-2 center-text">
                <h3 class="center-text">Volunteer</h3>
                <p class="left-align">You can donate your time by volunteering at one of our events.</p>
                <button class='button large'>Get Involved</button>
            </div>
        </div>
    </div>
</div>

<div class="container callout impact-callout-alt strip center-text">
    <div class="max-width">
        <p class='lead'>We've donated <b>15</b> pinball machines to <b>13</b> hospitals in <b>12</b> states.</p>
        <button class='button large alt'>See the Impact</button>
    </div>
    <div class="child-cutout"></div>
</div>

<!-- </div> -->

{{> footer}}