{{> main-nav}}

<header id="main-header" class='main-header event-2 events-header header-image static-header'>

    <div class="max-width main-header-content">

        <div class="container center-text">

            <h1>Events</h1>

            <!-- <p class="feed-item-event-date"></p> -->

            <p class='lead'>Tournaments, fundraisers, and more. <a class="link" href=""></a></p>

            <a href="about.html" class='button large alt-2'>Organize an Event</a> <a href="about.html" class='button large alt-2'>Host a Tournament</a>

        </div>

    </div>

</header>

<div class='container callout major top-items'>

    <div class="max-width">

        <h2 class="center-text extra-margin">Upcoming Events</h2>

        <div class="feed grid grid-column-large">
            <div class="post-preview lead-preview overlay-text grid-1 grid-2-of-3-large">
                <div class="post-preview-media">
                    <div class="post-preview-image event-preview-image-1 lead-image"></div>
                </div>
                <div class="post-preview-text">
                    <h3 class="feed-item-title"><a class="" href="event.html">Three people making a difference in April</a></h3>
                    <p class="feed-item-event-date">Mar 10, 2016 @ 2:00pm</p>
                    <p class="feed-item-text">Daniel Spolar Founder, Project Pinball Charity Project Pinball Charity, a nonprofit with headquarters in Bonita Springs, 
                    recently dedicated a pinball machine in its sixth location... <a href="">more</a></p>
                </div>
            </div>
            <div class="post-preview secondary-preview overlay-text grid-2 grid-1-of-3-large grid-row-1">
                <div class="post-preview-media">
                    <div class="post-preview-image pinball-3"></div>
                </div>
                <div class="post-preview-text">
                    <h3 class="feed-item-title"><a class="" href="event.html">Three people making a difference in April</a></h3>
                    <p class="feed-item-event-date">Mar 10, 2016 @ 2:00pm</p>
                    <p class="feed-item-text">Daniel Spolar Founder, Project Pinball Charity Project Pinball Charity, a nonprofit with headquarters in Bonita Springs, 
                    recently dedicated a pinball machine in its sixth location... <a href="">more</a></p>
                </div>
            </div>
            <div class="post-preview secondary-preview overlay-text grid-2 grid-1-of-3-large grid-row-1">
                <div class="post-preview-media">
                    <div class="post-preview-image pinball-2"></div>
                </div>
                <div class="post-preview-text">
                    <h3 class="feed-item-title"><a class="" href="event.html">Chris Griffith Helping Sick Children as...</a></h3>
                    <p class="feed-item-event-date">Feb 15, 2016 @ 6:00pm</p>
                    <p class="feed-item-text">When Downing-Frye agent Chris Griffith took a Health Care Tour through the Bonita Chamber of Commerce five years ago she had no idea that it would be... <a href="">more</a></p>
                </div>
            </div>
        </div>

    </div>

    <div class="child-cutout"></div>
    <div class="child-cutout-2"></div>

</div>

<div class='container'>

    <div class="max-width">

        <h2 class="center-text extra-margin">Past Events</h2>

        <div class="feed news-feed grid">
            <div class="post-preview condensed-post-preview grid-2">
                <div class="post-preview-media">
                    <div class="post-preview-image post-preview-image-4"></div>
                </div>
                <div class="post-preview-text">
                    <h3 class="feed-item-title"><a class="" href="event.html">Three people making a difference in April</a></h3>
                    <p class="feed-item-event-date">Mar 28, 2016 @ 12:00pm</p>
                    <p class="feed-item-text">Daniel Spolar Founder, Project Pinball Charity Project Pinball Charity, a nonprofit with headquarters in Bonita Springs, recently dedicated a pinball machine in its sixth location... <a href="">more</a></p>
                </div>
            </div>
            <div class="post-preview condensed-post-preview grid-2">
                <div class="post-preview-media">
                    <div class="post-preview-image post-preview-image-3"></div>
                </div>
                <div class="post-preview-text">
                    <h3 class="feed-item-title"><a class="" href="event.html">Chris Griffith Helping Sick Children as...</a></h3>
                    <p class="feed-item-event-date">Mar 12, 2016 @ 6:00pm</p>
                    <p class="feed-item-text">When Downing-Frye agent Chris Griffith took a Health Care Tour through the Bonita Chamber of Commerce five years ago she had no idea that it would be... <a href="">more</a></p>
                </div>
            </div>
            <div class="post-preview condensed-post-preview grid-2">
                <div class="post-preview-media">
                    <div class="post-preview-image post-preview-image-1"></div>
                </div>
                <div class="post-preview-text">
                    <h3 class="feed-item-title"><a class="" href="event.html">ABC TV News Story</a></h3>
                    <p class="feed-item-event-date">Jan 21, 2016 @ 12:00pm</p>
                    <p class="feed-item-text">ABC news story on the pinball machine donated to the Omaha Children's Hospital... <a href="">more</a></p>
                </div>
            </div>
            <div class="post-preview condensed-post-preview grid-2">
                <div class="post-preview-media">
                    <div class="post-preview-image post-preview-image-2"></div>
                </div>
                <div class="post-preview-text">
                    <h3 class="feed-item-title"><a class="" href="event.html">NBC TV News Story</a></h3>
                    <p class="feed-item-event-date">Jan 21, 2016 @ 12:00pm</p>
                    <p class="feed-item-text">The Project Pinball Charity Group talking about the resurgence of pinball and the helpful properties that they have and how Children’s Hospitals... <a href="">more</a></p>
                </div>
            </div>
            <div class="post-preview condensed-post-preview grid-2">
                <div class="post-preview-media">
                    <div class="post-preview-image post-preview-image-1"></div>
                </div>
                <div class="post-preview-text">
                    <h3 class="feed-item-title"><a class="" href="event.html">ABC TV News Story</a></h3>
                    <p class="feed-item-event-date">Jan 21, 2016 @ 12:00pm</p>
                    <p class="feed-item-text">ABC news story on the pinball machine donated to the Omaha Children's Hospital... <a href="">more</a></p>
                </div>
            </div>
            <div class="post-preview condensed-post-preview grid-2">
                <div class="post-preview-media">
                    <div class="post-preview-image post-preview-image-1"></div>
                </div>
                <div class="post-preview-text">
                    <h3 class="feed-item-title"><a class="" href="event.html">NBC TV News Story</a></h3>
                    <p class="feed-item-event-date">Jan 21, 2016 @ 12:00pm</p>
                    <p class="feed-item-text">The Project Pinball Charity Group talking about the resurgence of pinball and the helpful properties that they have and how Children’s Hospitals... <a href="">more</a></p>
                </div>
            </div>
            <div class="post-preview condensed-post-preview grid-2">
                <div class="post-preview-media">
                    <div class="post-preview-image post-preview-image-4"></div>
                </div>
                <div class="post-preview-text">
                    <h3 class="feed-item-title"><a class="" href="event.html">Three people making a difference in April</a></h3>
                    <p class="feed-item-event-date">Jan 21, 2016 @ 12:00pm</p>
                    <p class="feed-item-text">Daniel Spolar Founder, Project Pinball Charity Project Pinball Charity, a nonprofit with headquarters in Bonita Springs, recently dedicated a pinball machine in its sixth location... <a href="">more</a></p>
                </div>
            </div>
            <div class="post-preview condensed-post-preview grid-2">
                <div class="post-preview-media">
                    <div class="post-preview-image post-preview-image-3"></div>
                </div>
                <div class="post-preview-text">
                    <h3 class="feed-item-title"><a class="" href="event.html">Chris Griffith Helping Sick Children as...</a></h3>
                    <p class="feed-item-event-date">Jan 21, 2016 @ 12:00pm</p>
                    <p class="feed-item-text">When Downing-Frye agent Chris Griffith took a Health Care Tour through the Bonita Chamber of Commerce five years ago she had no idea that it would be... <a href="">more</a></p>
                </div>
            </div>
            <div class="post-preview condensed-post-preview grid-2">
                <div class="post-preview-media">
                    <div class="post-preview-image post-preview-image-1"></div>
                </div>
                <div class="post-preview-text">
                    <h3 class="feed-item-title"><a class=""href="event.html">ABC TV News Story</a></h3>
                    <p class="feed-item-event-date">Jan 21, 2016 @ 12:00pm</p>
                    <p class="feed-item-text">ABC news story on the pinball machine donated to the Omaha Children's Hospital... <a href="">more</a></p>
                </div>
            </div>
            <div class="post-preview condensed-post-preview grid-2">
                <div class="post-preview-media">
                    <div class="post-preview-image post-preview-image-2"></div>
                </div>
                <div class="post-preview-text">
                    <h3 class="feed-item-title"><a class="" href="event.html">NBC TV News Story</a></h3>
                    <p class="feed-item-event-date">Jan 21, 2016 @ 12:00pm</p>
                    <p class="feed-item-text">The Project Pinball Charity Group talking about the resurgence of pinball and the helpful properties that they have and how Children’s Hospitals... <a href="">more</a></p>
                </div>
            </div>
            <div class="post-preview condensed-post-preview grid-2">
                <div class="post-preview-media">
                    <div class="post-preview-image post-preview-image-1"></div>
                </div>
                <div class="post-preview-text">
                    <h3 class="feed-item-title"><a class="" href="event.html">ABC TV News Story</a></h3>
                    <p class="feed-item-event-date">Jan 21, 2016 @ 12:00pm</p>
                    <p class="feed-item-text">ABC news story on the pinball machine donated to the Omaha Children's Hospital... <a href="">more</a></p>
                </div>
            </div>
            <div class="post-preview condensed-post-preview grid-2">
                <div class="post-preview-media">
                    <div class="post-preview-image post-preview-image-1"></div>
                </div>
                <div class="post-preview-text">
                    <h3 class="feed-item-title"><a class="" href="event.html">NBC TV News Story</a></h3>
                    <p class="feed-item-event-date">Jan 21, 2016 @ 12:00pm</p>
                    <p class="feed-item-text">The Project Pinball Charity Group talking about the resurgence of pinball and the helpful properties that they have and how Children’s Hospitals... <a href="">more</a></p>
                </div>
            </div>
        </div>

        <nav class="pagination">
            <a href="">1</a>
            <a href="">2</a>
            <a href="">3</a>
            <a href="">4</a>
            <a href="">5</a>
            <a href="">Show All</a>
        </nav>

    </div>

    <div class="child-cutout"></div>
    <div class="child-cutout-2"></div>

</div>

<div class="container events-callout strip center-text">
    <div class="max-width">
        <p class='lead'>Show your support by volunteering at our events.</p>
        <a href="get-involved.html" class='button large alt'>Get Involved</a>
    </div>
    <!-- <div class="child-cutout">
        <div class="overflow-hack"></div>
    </div>
    <div class="child-cutout-1">
        <div class="overflow-hack"></div>
    </div> -->
</div>

{{> footer}}