<div class="page-wrap">
{{> main-nav}}

<header id="main-header" class='main-header header-image pinball-1'>

    <!-- <img class="header-img" src="../img/child-8.jpg" alt=""> -->

    <div class="main-header-content">

        <div class="container">
            <div class="max-width">
                <!-- <div><a class="alt light" href="news.html">News</a></div> -->
                <h1>Register an Event</h1>

                <p>Fill out this form to register your event.</p>

                <div class="post-details grid">
                    <div class="grid-2">
                        <p class='lead post-date'>April 20, 2016</p>
                    </div>

                    <div class="grid-2">
                        <a class='share-button button large alt-2'>Share</a>
                    </div>
                </div>
            </div>
        </div>


    </div>

</header>

<div class='container'>

    <div class="pinball"></div>

    <div class="max-width">
        <form action="" class="registration grid">
            <label class="grid-3" for="">
                <span>Event Director's Name*</span>
                <input type="text">
            </label>
            <label class="grid-3" for="">
                <span>Phone Number*</span>
                <input type="text">
            </label>
            <label class="grid-3" for="">
                <span>Email*</span>
                <input type="text">
            </label>
            <label class="grid-2" for="">
                <span>Event Address*</span>
                <input type="text">
            </label>
            <label class="grid-2" for="">
                <span>Event Date*</span>
                <input type="text">
            </label>
            <label class="grid-1" for="">
                <span>Your Question/Comments*</span>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </label>
        </form>
        
        <div class="center-text">
            <button class="button submit-event">Submit Event</button>
        </div>

    </div>
</div>

<!-- <div class="container callout impact-callout-alt strip center-text">
    <div class="max-width">
        <p class='lead'>We've donated <b>15</b> pinball machines to <b>13</b> hospitals in <b>12</b> states.</p>
        <a href="impact.html" class='button large'>See the Impact</a>
    </div>
    <div class="child-cutout"></div>
</div> -->

</div>

{{> footer}}