<div class="page-wrap">
{{> main-nav}}

<header id="main-header" class='main-header get-involved-header center-text header-image pinball-1'>

    <!-- <img class="header-img" src="../img/child-8.jpg" alt=""> -->

    <div class="max-width main-header-content">

        <div class="container">
            <h1>Get Involved</h1>
            <p class='lead '>There are many ways to help.</p>
            <!-- <div class='container callout impact-callout center-text'>
                <div class="max-width">
                    <div>Stuff</div>
                </div>
                <div class="child-cutout"></div>
                <div class="child-cutout-2"></div>
            </div> -->
        </div>

    </div>

</header>

<div class='container callout major center-text team'>

    <div class="max-width">
        <div class="team-members grid">
            <div class="team-member grid-3">
                <h2 class="">Volunteer</h2>
                <div class="get-involved-image event-4"></div>
                <p class="">Work side by side with Project Pinball during Expos and Events.</p>
                <a href="events.html" class='button large alt-2' href="event-registration.html">Find Event</a>
            </div>
            <div class="team-member grid-3">
                <h2 class="">Organize an Event</h2>
                <div class="get-involved-image"></div>
                <p class="">Organize an official Project Pinball fundraising event.</p>
                <a class='button large alt-2' href="event-registration.html">Organize Event</a>
            </div>
            <div class="team-member grid-3">
                <h2 class="">Host a Tournament</h2>
                <div class="get-involved-image tournament-1"></div>
                <p class="">Register your pinball tournament as an official Project Pinball fundraising event.</p>
                <a class='button large alt-2' href="event-registration.html">Host Tournament</a>
            </div>
        </div>

    </div>

    <div class="pinball"></div>

</div>

<div class="container callout impact-callout-alt strip center-text">
    <div class="max-width">
        <p class='lead'>Have questions about how you can help?</p>
        <button class='button large alt'>Contact Us</button>
    </div>
    <div class="child-cutout"></div>
</div>

</div>

{{> footer}}