<div class="page-wrap">
{{> main-nav}}

<header id="main-header" class='main-header home-header center-text header-image slide-show child-2 full-screen slide-show'>

    <!-- <img class="header-img" src="img/child-12.jpeg" alt=""> -->

    <!-- <img class="header-img" src="../img/child-8.jpg" alt=""> -->

    <div class="max-width main-header-content">

        <div class="container">

            <h1>Bringing the joy of pinball to children's hospitals across our nation</h1>

            <p class='lead'>The Project Pinball Charity is a non-profit charity organization that places pinball machines in Children’s Hospitals to introduce therapeutic benefits to kids.</p>

            <a href="about.html" class='button large alt-2'>About Us</a> 
            <a href="get-involved.html" class='button large alt-2'>Get Involved</a>

        </div>

    </div>

</header>

<div class='container callout major impact-callout center-text'>

    <div class="max-width">

        <!-- <h2>Love Across America</h2> -->
        <!-- <h2 class=''>We've donated <b>18</b> pinball machines to <b>15</b> childrens hospitals in <b>14</b> states</h2> -->

        <div class="score-display">
            <div class="score-group "><span class="score-number">18</span> <span class="score-label">Pinball Machines</span></div> <div class="score-group "><span class="score-number">16</span> <span class="score-label">Children's Hospitals</span></div> <div class="score-group "><span class="score-number">15</span> <span class="score-label">States</span></div>
        </div>

        <div class="map-group">
            <div class="map-composition">
                <h3 class='ribbon-heading'><span class="ribbon-content">Love Across America</span></h3>
                <!-- <img class="map-img" src="img/us-map-original.svg" alt=""> -->
                <svg class="us-map" xmlns="http://www.w3.org/2000/svg" viewBox="1 -11.3 34.7 21.4"><path d="M3.8-11.3c0 0 0 0.1 0.1 0.2 0.1 0.1 0 0.2-0.1 0.3C3.8-10.7 3.7-10.6 3.8-10.5c0 0.1 0 0.1 0 0.1 -0.1-0.1-0.2-0.2-0.4-0.3 -0.1 0-0.6-0.4-0.6-0.3 0 0.1 0 1.1 0.1 1.2C2.7-9.9 2.7-9.6 2.7-9.6c0 0.1-0.2 0.3 0 0.4 0.1 0 0.1 0 0 0C2.6-9.2 2.6-9.1 2.6-9c0 0.1-0.1 0.4-0.3 0.8C2.2-7.9 2-7.6 2-7.5c0 0.1-0.2 0.3-0.3 0.5C1.6-6.8 1.5-6.5 1.5-6.5c0 0.1 0 0.3 0 0.6 0 0.5-0.1 0.9-0.3 1C1-4.7 1-4.5 1.1-4.2c0.1 0.2 0.1 0.3 0 0.4C1.1-3.5 1.1-3.3 1.3-2.9c0.1 0.2 0.1 0.4 0.1 0.4C1.3-2.4 1.6-2.2 1.6-2.2c0 0 0 0 0 0.1C1.5-2 1.5-1.5 1.7-1.4 1.8-1.3 1.8-1.3 1.7-1.1 1.7-0.9 1.7-0.8 1.7-0.8c0 0 0.1 0.2 0.1 0.3 0 0.1 0.1 0.3 0.2 0.4C2.1 0 2.2 0.4 2.2 0.6L2.2 0.9 2.5 1c0.2 0.1 0.4 0.2 0.5 0.3C3.1 1.4 3.2 1.5 3.3 1.6 3.4 1.6 3.8 2.1 3.8 2.1c0.1 0.1 0.2 0.8 0.3 0.9 0.1 0 0.4 0.1 0.8 0.1 0.8 0.1 1.3 0.6 2 1l1.2 0.7 1 0.1c0.5 0.1 1 0.1 1 0.1 0.3-0.1-0.2-0.4 0.3-0.3 0.1 0 0.4 0.1 0.6 0.1 0.3 0 0.4 0.1 0.4 0.2 0 0.1 0.2 0.3 0.5 0.5 0.4 0.4 0.5 0.6 0.6 1 0 0.1 0.1 0.3 0.2 0.3 0.4 0.3 0.8 0.5 0.8 0.5 0 0 0.1-0.2 0.2-0.3 0.2-0.3 0.4-0.4 0.7-0.3 0.1 0 0.2 0 0.3 0 0.1-0.1 0.6 0.6 0.7 0.9 0.1 0.2 0.2 0.4 0.3 0.5 0.3 0.3 0.4 0.5 0.5 0.7 0.1 0.5 0.3 0.7 0.7 0.9 0.2 0.1 0.5 0.1 0.7 0.2 0.1 0.1 0.1 0.1 0.2 0.1 0.1-0.1 0.1-0.5 0.1-0.7 -0.1-0.3-0.1-0.2-0.1 0.1 0 0.1 0.1 0.2 0 0.2 0 0-0.3-0.5-0.1-0.6 0 0 0.1-0.2 0.2-0.4 0.1-0.3 0.2-0.5 0.5-0.6 0.1-0.1 0.1-0.1 0-0.2C18.5 7.8 18.5 7.8 18.7 7.8c0.2 0 0.6-0.1 0.9-0.4 0.2-0.2 0.2-0.2 0.1-0.3 -0.1-0.1-0.1-0.1 0-0.2 0.1 0 0.1 0 0.1 0 0 0.1 0 0.1 0.6-0.1 0.4-0.1 0.5-0.2 0.7-0.1 0.1 0 1 0.2 1 0.1 0-0.1-0.4 0-0.3-0.1 0.1-0.1 0.6 0.1 0.6 0.3 -0.1 0.2 0.4 0.2 0.5 0.1 0.1-0.1 0.1-0.1 0.2 0 0.1 0.1 0.1 0.1 0.2 0 0-0.1 0-0.2 0-0.2 0-0.1 0.1 0 0.3 0.1 0 0 0.4 0.3 0.4 0.1 -0.1-0.1-0.1-0.1-0.2-0.2 -0.3-0.1-0.3-0.2-0.1-0.3 0.1-0.1 0.1-0.1 0-0.2 -0.1-0.1-0.1-0.1-0.1 0 0 0.1-0.1 0.1-0.1 0 0-0.1 0.2-0.3 0.5-0.4 0.1 0 0.2 0 0.3 0 0.1 0.1 0.1 0.1 0.1 0 0.1 0.1 0.5-0.3 0.4-0.3 0 0.1 0.1 0.1 0.1 0.2 0 0.1 0.1 0.2 0.1 0.1 0 0 0.2-0.1 0.5-0.1 0.2 0 0.4-0.1 0.4-0.1 0.1-0.1 0.1-0.1 0.1 0 0 0.1 0.1 0.1 0.4 0.1 0.2 0 0.3 0.5 0.5 0.5 0.1 0 0.1 0 0.2 0 0 0 0.2-0.1 0.3-0.2 0.3-0.3 0.5-0.3 0.9 0.1 0.2 0.2 0.4 0.2 0.6 0.4 0.1 0.1 0.1 0.2 0.1 0.6 0 0.3 0 0.4 0.1 0.5 0.1 0 0.1-0.1 0.1-0.2 0 0 0 0.5 0.1 0.6 0.2 0.3 0.3 0.3 0.3 0.2 0 0 0.1 0 0.1 0.1 0 0.1 0 0.2 0 0.2 0 0 0 0 0.1 0 0.1 0 0.2 0.1 0.2 0.2 0.1 0.1 0.2 0.2 0.3 0.2 0.5 0.1 0.2 0.8 0.8 0.4 0.8-0.5-0.1-1.9-0.4-2.3 -0.2-0.3-0.2-0.4-0.2-0.5 0.1 0 0-0.1-0.2-0.3 -0.2-0.3-0.6-1-0.6-1.3 0-0.1 0-0.1-0.1-0.1 -0.2-0.2 0.1-0.4 0.1-0.5 0-0.1 0.1-0.3 0.1-0.5 0.1-0.2 0.1-0.3 0.1-0.4 0 0 0 0 0.1 0 0.1 0 0.1 0 0.1-0.1 0 0 0.6-0.6 0.7-0.7C30.4 2.9 30.5 2.8 30.5 2.8c0 0 0-0.1 0-0.2 0-0.3 0.5-0.5 0.7-0.7 0.1-0.1 0.1-0.3 0.3-0.5 0.1-0.1 0.3-0.2 0.4-0.3 0.1 0 0.1 0 0.2-0.1 0.2-0.1 0.1-0.2-0.1-0.2 -0.2 0-0.2 0-0.1-0.1 0.1-0.1 0.1-0.1 0-0.2 -0.2-0.1-0.1-0.1 0.1-0.1 0.2 0 0.2 0 0.2-0.1 0.1-0.2 0.2-0.6-0.3-0.4 -0.1 0-0.1 0 0-0.1l0.2-0.1 0.2 0.1c0.2 0.2 0.2 0.1-0.1-0.3 -0.2-0.3-0.2-0.3-0.4-0.3 -0.1 0-0.2 0-0.2 0 0 0 0 0 0 0 0.1 0.1 0.2-0.1 0-0.2 -0.1-0.1-0.1-0.1 0-0.1 0.1 0 0.1-0.1 0-0.1 -0.1-0.1-0.1-0.1-0.1-0.2 0-0.1 0-0.1-0.1-0.2 -0.1-0.1-0.1-0.1-0.1-0.1 0.1 0 0.1 0 0-0.1 0 0-0.1-0.1-0.1-0.1 0 0 0-0.1-0.1-0.2 -0.1-0.2-0.1-0.6-0.1-0.7 0.1-0.1 0.1 0 0.1 0.3 0 0.2 0.1 0.6 0.3 0.6 0.1 0.1 0.1 0.1 0.1 0.2 0.1 0.1 0.1 0.1 0 0.2 0 0-0.1 0.5 0 0.5 0.1-0.1 0.1-0.2 0.1-0.3 0.2-0.3 0.3-0.6 0.2-1 0-0.2-0.3-0.3-0.3-0.5 0-0.1 0.3 0 0.3 0.1 0 0.1 0 0 0.1-0.1 0-0.1 0.1-0.3 0.2-0.4 0.1-0.3 0.1-0.5 0.1-0.8 0 0-0.3-0.3-0.1-0.2 0.1 0 0.7-0.3 1-0.5l0.2-0.1 -0.2 0c-0.1 0-0.8 0.3-0.8 0.3 -0.1-0.1 0.4-0.4 0.8-0.5 0.3-0.1 0.4-0.2 0.4-0.4 0-0.2 0-0.2 0.1-0.1 0 0.1 0.1 0.1 0.2 0 0.2-0.1 0.2-0.1 0.2 0C34.3-5.2 34.3-5.1 34.4-5.2c0.1 0 0.1-0.1 0.1-0.1 0-0.1 0.1-0.1 0.2-0.2 0.2-0.1 0.2-0.2 0-0.3 -0.1-0.1-0.1-0.1 0 0 0 0.1 0.1 0.1 0 0.1 -0.1 0.1-0.3 0-0.4-0.1 0 0-0.3-0.2-0.3-0.2 0 0 0.1-0.1 0.1-0.1 0.1-0.1 0.1-0.1 0-0.2 -0.1-0.1-0.1-0.1 0-0.4 0-0.1 0.1-0.5 0.2-0.6 0.1-0.1 0.1-0.1 0.2-0.2 0.3 0.1 0.2-0.4 0.3-0.5 0 0 0.1 0 0.1 0.1 0 0.1 0 0.1 0.1 0 0 0 0.2-0.1 0.3-0.2 0-0.1 0.2-0.2 0.3-0.3 0.5-0.4-0.1-0.3-0.2-0.7 0-0.2-0.4-0.5-0.4-0.7 -0.1-0.4-0.2-0.6-0.3-0.6 -0.1-0.1-0.2-0.1-0.3 0 -0.1 0.1-0.2 0.1-0.3 0 -0.4-0.2-0.4 0.8-0.4 1 0 0.2 0 0.5-0.1 0.6 0 0.1-0.1 0.1 0 0.2 0 0-0.1 0.1-0.2 0.2 -0.1 0.1-0.2 0.2-0.2 0.2C33.1-8 31.9-7.7 31.4-7.6c-0.3 0.1-0.3 0.1-0.7 0.8 -0.2 0.3 0 0.2 0 0.4 0 0.2 0 0.2-0.1 0.4 -0.1 0.1-0.3 0.2-0.6 0.2 -0.2 0-1 0.1-0.7 0.5 0.1 0.1 0.1 0.1-0.2 0.4 -0.1 0.2-0.4 0.4-0.6 0.5 -0.2 0.1-0.5 0.3-0.5 0.4 -0.2 0.2-0.6 0.3-0.7 0.3 -0.4-0.1-0.5-0.1-0.4-0.5 0.1-0.1 0.1-0.3 0.1-0.4 0.1-0.3 0.2-0.1 0.2-0.5 0-0.1-0.2-0.7-0.3-0.7 -0.3-0.1-0.3 0.3-0.4 0.3 0 0-0.4 0.1-0.2-0.1 0.1-0.1 0.4-0.7 0.2-0.8 0 0-0.1-0.1 0-0.1 0.1-0.3-0.4-0.4-0.6-0.4 -0.2-0.1-0.3-0.1-0.4-0.1 -0.1 0-0.1 0.1-0.1 0.2 0 0.1 0 0.1-0.1 0.2 -0.1 0.1 0 0.4-0.2 0.4 -0.1 0-0.1-0.2-0.1-0.2 0 0-0.1 0.1-0.1 0.1 -0.3 0.3-0.3 1-0.2 1.4 0.2 0.4 0.2 0.6 0.1 1 -0.4 1.2-0.7-0.1-0.9-0.5 -0.1-0.2 0-1.2 0.2-1.6 0.1-0.3 0.1-0.4 0-0.2 0 0.1-0.1 0.2-0.2 0.3l-0.2 0.2 0.1-0.2c0.1-0.2 0.2-0.4 0.3-0.6 0.1-0.2 0.2-0.3 0.2-0.3 0 0 0.2-0.2 0.2 0 0 0.1 0.1 0.1 0.2-0.1 0-0.1 0.2-0.1 0.3-0.2 0.1 0 0.2-0.1 0.2-0.1 0 0 0.1 0 0.2 0 0.1 0 0.2 0 0.2 0 0 0 0.1-0.1 0.2-0.1 0.2 0 0.3 0 0.1-0.2C25.5-7.7 25.6-7.8 25.3-7.7c-0.3 0-0.2-0.3-0.3-0.2 -0.1 0-0.2 0.1-0.4 0.1 -0.1 0-0.3 0.1-0.4 0.2 -0.1 0.1-0.4 0.1-0.6-0.1 -0.1-0.1-0.2-0.1-0.4-0.1 -0.1 0-0.1 0-0.2 0 0.1-0.1 0.1-0.2 0.2-0.3 0.1-0.1 0.1-0.1 0.1-0.2 -0.1-0.1-0.5 0.3-0.5 0.3 -0.2 0.2-0.4 0.2-0.6 0.4 -0.1 0.1-0.2 0.1-0.4 0.1l-0.3 0 0.2-0.2c0.1-0.1 0.1-0.2 0.1-0.1 0 0-0.1 0.1-0.2 0 0 0-0.2 0-0.3 0.1 -0.4 0.2-0.4 0.1-0.1-0.3 0.2-0.2 0.5-0.4 0.7-0.5 0.3-0.1 0.3-0.2 0.2-0.2 0 0-0.1 0-0.1 0 -0.3-0.2-0.7 0.1-1 0 -0.1-0.1-0.2-0.1-0.3-0.1 0 0-0.1 0-0.2-0.1 -0.2-0.2-0.3-0.2-0.5-0.1 -0.1 0-0.2 0-0.4 0 -0.2-0.1-0.3-0.1-0.3-0.3 -0.1-0.3-0.2-0.3-0.2-0.1v0.1l-2.1 0c-2.3 0-3.1-0.1-5.3-0.3C9.2-10.1 6.3-10.6 4-11.3 3.9-11.3 3.8-11.3 3.8-11.3z"/></svg>

                </div>

                <p class='lead map-text'>We're finding out with every visit and every testimony how powerful one pinball machine in the right setting can be.</p>

                <a href="impact.html" class='button large'>See the Impact</a> <!-- <button class='button'>Default Button</button> <button class='button small'>Small Button</button> -->
            </div>

    </div>

    <div class="child-cutout"></div>
    <div class="child-cutout-2"></div>

</div>

<!-- <div class="container strip center-text child-4 full-width-image"></div> -->

<div class="container callout why-pinball-callout center-text">
    <!-- <div class="pinball"></div> -->
    <h2>Why Pinball?</h2>
    <div class="max-width">
        <p class='lead quote'>“A pinball machine helps keep patients active by motivating them to get back on their feet, and gives family members and hospital staff a recreational lift. Pinball allows our smallest patients the opportunity to focus on something other than medical tests, medications, and procedures.”</p>
        <span class="attribution">- Daniel Spolar, founder and senior director</span>
    </div>
    <div class="child-cutout-2">
        <div class="overflow-hack"></div>
    </div>
    <div class="child-cutout-1">
        <div class="overflow-hack"></div>
    </div>
    <!-- <div class="child-cutout-2"></div> -->
</div>

<div class='container'>

    <div class="max-width grid">
        <div class="feed news-feed grid-3">
            <a href="news.html" class="">
                <h2 class="feed-heading"><span><svg class="icon news-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M29 0H7C5.3 0 4 1.3 4 3v2H3C1.3 5 0 6.3 0 8v20c0 2.2 1.8 4 4 4h24c2.2 0 4-1.8 4-4V3C32 1.3 30.7 0 29 0zM30 28c0 1.1-0.9 2-2 2H4c-1.1 0-2-0.9-2-2V8c0-0.6 0.4-1 1-1h1v20c0 0.6 0.4 1 1 1 0.6 0 1-0.4 1-1V3c0-0.6 0.4-1 1-1h22c0.6 0 1 0.4 1 1V28z" class="a"/><path d="M19.5 13h8c0.3 0 0.5-0.2 0.5-0.5 0-0.3-0.2-0.5-0.5-0.5h-8c-0.3 0-0.5 0.2-0.5 0.5C19 12.8 19.2 13 19.5 13z" class="a"/><path d="M19.5 10h8c0.3 0 0.5-0.2 0.5-0.5 0-0.3-0.2-0.5-0.5-0.5h-8c-0.3 0-0.5 0.2-0.5 0.5C19 9.8 19.2 10 19.5 10z" class="a"/><path d="M19.5 7h8c0.3 0 0.5-0.2 0.5-0.5 0-0.3-0.2-0.5-0.5-0.5h-8c-0.3 0-0.5 0.2-0.5 0.5C19 6.8 19.2 7 19.5 7z" class="a"/><path d="M16.5 27h-8c-0.3 0-0.5 0.2-0.5 0.5 0 0.3 0.2 0.5 0.5 0.5h8c0.3 0 0.5-0.2 0.5-0.5C17 27.2 16.8 27 16.5 27z" class="a"/><path d="M16.5 24h-8c-0.3 0-0.5 0.2-0.5 0.5 0 0.3 0.2 0.5 0.5 0.5h8c0.3 0 0.5-0.2 0.5-0.5C17 24.2 16.8 24 16.5 24z" class="a"/><path d="M16.5 21h-8c-0.3 0-0.5 0.2-0.5 0.5 0 0.3 0.2 0.5 0.5 0.5h8c0.3 0 0.5-0.2 0.5-0.5C17 21.2 16.8 21 16.5 21z" class="a"/><path d="M27.5 27h-8c-0.3 0-0.5 0.2-0.5 0.5 0 0.3 0.2 0.5 0.5 0.5h8c0.3 0 0.5-0.2 0.5-0.5C28 27.2 27.8 27 27.5 27z" class="a"/><path d="M27.5 24h-8c-0.3 0-0.5 0.2-0.5 0.5 0 0.3 0.2 0.5 0.5 0.5h8c0.3 0 0.5-0.2 0.5-0.5C28 24.2 27.8 24 27.5 24z" class="a"/><path d="M27.5 21h-8c-0.3 0-0.5 0.2-0.5 0.5 0 0.3 0.2 0.5 0.5 0.5h8c0.3 0 0.5-0.2 0.5-0.5C28 21.2 27.8 21 27.5 21z" class="a"/><path d="M27.5 15h-19c-0.3 0-0.5 0.2-0.5 0.5s0.2 0.5 0.5 0.5h19c0.3 0 0.5-0.2 0.5-0.5S27.8 15 27.5 15z" class="a"/><path d="M27.5 18h-19c-0.3 0-0.5 0.2-0.5 0.5 0 0.3 0.2 0.5 0.5 0.5h19c0.3 0 0.5-0.2 0.5-0.5C28 18.2 27.8 18 27.5 18z" class="a"/><path d="M9 13h7c0.6 0 1-0.4 1-1V5c0-0.6-0.4-1-1-1H9c-0.6 0-1 0.4-1 1V12C8 12.6 8.4 13 9 13zM10 6h5v5h-5V6z" class="a"/></svg></span>News</h2>
            </a>
            <div>
                <div class="post-preview condensed-post-preview">
                    <div class="post-preview-media">
                        <div class="post-preview-image post-preview-image-4"></div>
                    </div>
                    <div class="post-preview-text">
                        <h4 class="feed-item-title"><a class="" href="">Three people making a difference in April</a></h4>
                        <p class="feed-item-post-date">Posted on March 21, 2016</p>
                        <p class="feed-item-text">Daniel Spolar Founder, Project Pinball Charity Project Pinball Charity, a nonprofit with headquarters in Bonita Springs, recently dedicated a pinball machine in its sixth location... <a href="">more</a></p>
                    </div>
                </div>
                <div class="post-preview condensed-post-preview">
                    <div class="post-preview-media">
                        <div class="post-preview-image post-preview-image-3"></div>
                    </div>
                    <div class="post-preview-text">
                        <h4 class="feed-item-title"><a class="" href="">Chris Griffith Helping Sick Children as...</a></h4>
                        <p class="feed-item-post-date">Posted on March 2, 2016</p>
                        <p class="feed-item-text">When Downing-Frye agent Chris Griffith took a Health Care Tour through the Bonita Chamber of Commerce five years ago she had no idea that it would be... <a href="">more</a></p>
                    </div>
                </div>
                <div class="post-preview condensed-post-preview">
                    <div class="post-preview-media">
                        <div class="post-preview-image post-preview-image-1"></div>
                    </div>
                    <div class="post-preview-text">
                        <h4 class="feed-item-title"><a class="" href="">ABC TV News Story</a></h4>
                        <p class="feed-item-post-date">Posted on Feb 12, 2016</p>
                        <p class="feed-item-text">ABC news story on the pinball machine donated to the Omaha Children's Hospital... <a href="">more</a></p>
                    </div>
                </div>
                <div class="post-preview condensed-post-preview">
                    <div class="post-preview-media">
                        <div class="post-preview-image post-preview-image-2"></div>
                    </div>
                    <div class="post-preview-text">
                        <h4 class="feed-item-title"><a class="" href="">NBC TV News Story</a></h4>
                        <p class="feed-item-post-date">Posted on Jan 19, 2016</p>
                        <p class="feed-item-text">The Project Pinball Charity Group talking about the resurgence of pinball and the helpful properties that they have and how Children’s Hospitals... <a href="">more</a></p>
                    </div>
                </div>
            </div>
            <!-- <div class="post-preview condensed-post-preview">
                <div class="post-preview-image post-preview-image-2"></div>
                <h3 class="feed-item-title"><a class="" href="">Project Pinball Charity to dedicate Stern...</a></h3>
                <p class="feed-item-post-date">Posted on March 29, 2015</p>
                <p class="feed-item-text">Project Pinball Charity will be dedicating a brand new Stern Iron Man Pinball Machine at Advocate Children’s Hospital in Oak Lawn, IL, on Tuesday, April 28, 2015. This special machine will be dedicated in honor of Zach Dacy, a Chicago area youth who has beat cancer after spending a great length of time in hospitals. <a href="">more</a></p>
            </div> -->
            <a href='news.html' class='link more-link'>All News</a>
        </div>
        <div class="feed events-feed grid-3">
            <a href="events.html" class="">
                <h2 class="feed-heading"><span><svg class="icon events-icon" xmlns="http://www.w3.org/2000/svg" viewBox="7 0.7 36.3 39.1"><title>  Calendar</title><desc>  Created with Sketch.</desc><path d="M35.2 27.3H33c-0.8 0-1.5 0.7-1.5 1.5V31c0 0.8 0.7 1.5 1.5 1.5h2.2c0.8 0 1.5-0.7 1.5-1.5v-2.2C36.7 28 36 27.3 35.2 27.3L35.2 27.3zM26.2 27.3H24c-0.8 0-1.5 0.7-1.5 1.5V31c0 0.8 0.7 1.5 1.5 1.5h2.2c0.8 0 1.5-0.7 1.5-1.5v-2.2C27.7 28 27.1 27.3 26.2 27.3L26.2 27.3zM17.3 27.3h-2.2c-0.8 0-1.5 0.7-1.5 1.5V31c0 0.8 0.7 1.5 1.5 1.5h2.2c0.8 0 1.5-0.7 1.5-1.5v-2.2C18.8 28 18.1 27.3 17.3 27.3L17.3 27.3zM26.2 18.8H24c-0.8 0-1.5 0.7-1.5 1.5v2.2c0 0.8 0.7 1.5 1.5 1.5h2.2c0.8 0 1.5-0.7 1.5-1.5v-2.2C27.7 19.5 27.1 18.8 26.2 18.8L26.2 18.8zM35.2 18.8H33c-0.8 0-1.5 0.7-1.5 1.5v2.2c0 0.8 0.7 1.5 1.5 1.5h2.2c0.8 0 1.5-0.7 1.5-1.5v-2.2C36.7 19.5 36 18.8 35.2 18.8L35.2 18.8zM17.3 18.8h-2.2c-0.8 0-1.5 0.7-1.5 1.5v2.2c0 0.8 0.7 1.5 1.5 1.5h2.2c0.8 0 1.5-0.7 1.5-1.5v-2.2C18.8 19.5 18.1 18.8 17.3 18.8L17.3 18.8zM40.2 3.5h-6.4V2.2c0-0.8-0.7-1.5-1.5-1.5s-1.5 0.7-1.5 1.5v1.3H19.5V2.2c0-0.8-0.7-1.5-1.5-1.5s-1.5 0.7-1.5 1.5v1.3H10c-1.7 0-3 1.3-3 3v30.3c0 1.7 1.3 3 3 3h30.3c1.7 0 3-1.3 3-3V6.5C43.2 4.8 41.9 3.5 40.2 3.5L40.2 3.5zM16.5 6.5v2.3c0 0.8 0.7 1.5 1.5 1.5s1.5-0.7 1.5-1.5V6.5h11.4v2.3c0 0.8 0.7 1.5 1.5 1.5 0.8 0 1.5-0.7 1.5-1.5V6.5h6.4v6.2l0 0H10V6.5H16.5L16.5 6.5zM10 36.7V15.6h30.3l0 0v21.1H10L10 36.7z"/></svg></span> Events</h2>
            </a>
            <div>
                <div class="post-preview condensed-post-preview">
                    <div class="post-preview-media">
                        <div class="post-preview-image post-preview-calendar">
                            <div class="calendar-composition">
                                <div class="month">March</div>
                                <div class="day"><span class="number">28</span></div>
                            </div>
                        </div>
                        <div class="post-preview-image post-preview-image-3"></div>
                    </div>
                    <div class="post-preview-text">
                        <h4 class="feed-item-title"><a href="">Stern Pinball &amp; Project Pinball Donate Pinball Machine to Local Children’s Hospital</a></h4>
                        <p class="feed-item-event-date">Mar 28, 2016 @ 4:00pm</p>
                        <!-- <p class="feed-item-post-date">Posted on Mar 22, 2016</p> -->
                        <p class="feed-item-text">World’s Leading Maker of Arcade-Quality Pinball Machines and Project Pinball Charity Group Team Up To Share the Love of Pinball with Advocate Children’s Hospital Patients... <a href="">more</a></p>
                    </div>
                </div>
                <div class="post-preview condensed-post-preview">
                    <div class="post-preview-media">
                        <div class="post-preview-image post-preview-calendar">
                            <div class="calendar-composition">
                                <div class="month">March</div>
                                <div class="day"><span class="number">10</span></div>
                            </div>
                        </div>
                        <div class="post-preview-image post-preview-image-1"></div>
                    </div>
                        <div class="post-preview-text">
                            <h4 class="feed-item-title"><a href="">Haircut fundraiser to benefit pediatric patients</a></h4>
                            <p class="feed-item-event-date">Mar 10, 2016 @ 2:00pm</p>
                            <!-- <p class="feed-item-post-date">Posted on Mar 4, 2016</p> -->
                            <p class="feed-item-text">Bonita Springs, FL ­­– La Mouche Salon is proud to support Project Pinball Charity Group by hosting its Sixth Annual Summer Benefit on Saturday, August 16, 2014 from 12:00 pm – 4:00 pm. The salon will offer back-to-school haircut specials for kids starting at $10.00... <a href="">more</a></p>
                        </div>
                </div>
                <div class="post-preview condensed-post-preview">
                    <div class="post-preview-media">
                        <div class="post-preview-image post-preview-calendar">
                            <div class="calendar-composition">
                                <div class="month">February</div>
                                <div class="day"><span class="number">15</span></div>
                            </div>
                        </div>
                        <div class="post-preview-image post-preview-image-2"></div>
                    </div>
                    <div class="post-preview-text">
                        <h4 class="feed-item-title"><a href="">34 IFPA/ Project Pinball Campaign July Tournaments Left!</a></h4>
                        <p class="feed-item-event-date">Feb 15, 2016 @ 6:00pm</p>
                        <!-- <p class="feed-item-post-date">Posted on Feb, 2 2016</p> -->
                        <p class="feed-item-text">We had a great first weekend! It was a wonderful success. A lot of Charity Pinball Tournaments left, so found one that is nearest you and come out and join us for our cause... <a href="">more</a></p>
                    </div>
                </div>
                <div class="post-preview condensed-post-preview">
                    <div class="post-preview-media">
                        <div class="post-preview-image post-preview-calendar">
                            <div class="calendar-composition">
                                <div class="month">Jan</div>
                                <div class="day"><span class="number">21</span></div>
                            </div>
                        </div>
                        <div class="post-preview-image post-preview-image-3"></div>
                    </div>
                    <div class="post-preview-text">
                        <h4 class="feed-item-title"><a href="">July 1st through 29th IFPA/ Project Pinball Charity Campaign- July 2014</a></h4>
                        <p class="feed-item-event-date">Jan 21, 2016 @ 12:00pm</p>
                        <!-- <p class="feed-item-post-date">Posted on Jan 15, 2016</p> -->
                        <p class="feed-item-text">You might have heard that Project Pinball Charity has team-up with the IFPA to have month long fundraiser the IFPA/ Project Pinball Fundraiser Campaign- July 2014... <a href="">more</a></p>
                    </div>
                </div>
            </div>
            <!-- <div class="post-preview condensed-event-preview">
                <h3 class="feed-item-title"><a href="">Southern Fried Gameroom Expo- June 20th through 22nd Atlanta, Georgia</a></h3>
                <p class="feed-item-event-date">Jan 9, 2016</p>
                <p class="feed-item-post-date">Posted on Jan 3, 2016</p>
                <p class="feed-item-text">Side by side with the Southern Fried Gameroom Expo- Project Pinball Charity is getting ready for Atlanta.We will be on-site and have a pinball machine setup for a Project Pinball Charity high score contest on Friday 20th and Saturday 21st... <a href="">more</a></p>
            </div> -->
            <a href='events.html' class='link more-link'>All Events</a>
            <!-- <div class="post-preview">
                <h3 class="feed-item-title"><a href="">Stern Pinball &amp; Project Pinball Donate Pinball Machine to Local Children’s Hospital</a></h3>
                <p class="feed-item-post-date">Posted on Dec 29, 2015</p>
                <p class="feed-item-text">World’s Leading Maker of Arcade-Quality Pinball Machines and Project Pinball Charity Group Team Up To Share the Love of Pinball with Advocate Children’s Hospital Patients... <a href="">more</a></p>
            </div> -->
            <!-- <div class="post-preview">
                <h3 class="feed-item-title"><a href="">Haircut fundraiser to benefit pediatric patients</a></h3>
                <p class="feed-item-post-date">Posted on Dec 1, 2015</p>
                <p class="feed-item-text">Bonita Springs, FL ­­– La Mouche Salon is proud to support Project Pinball Charity Group by hosting its Sixth Annual Summer Benefit on Saturday, August 16, 2014 from 12:00 pm – 4:00 pm. The salon will offer back-to-school haircut specials for kids starting at $10.00... <a href="">more</a></p>
            </div> -->
            <!-- <div class="post-preview">
                <h3 class="feed-item-title"><a href="">34 IFPA/ Project Pinball Campaign July Tournaments Left!</a></h3>
                <p class="feed-item-post-date">Posted on Nov 12, 2015</p>
                <p class="feed-item-text">We had a great first weekend! It was a wonderful success. A lot of Charity Pinball Tournaments left, so found one that is nearest you and come out and join us for our cause... <a href="">more</a></p>
            </div>
            <div class="post-preview">
                <h3 class="feed-item-title"><a href="">July 1st through 29th IFPA/ Project Pinball Charity Campaign- July 2014</a></h3>
                <p class="feed-item-post-date">Posted on Oct 21, 2015</p>
                <p class="feed-item-text">You might have heard that Project Pinball Charity has team-up with the IFPA to have month long fundraiser the IFPA/ Project Pinball Fundraiser Campaign- July 2014... <a href="">more</a></p>
            </div> -->
        </div>

        <div class="feed community-feed grid-3">
            <a href="" class="">
                <h2 class="feed-heading"><span><svg class="icon community-icon" xmlns="http://www.w3.org/2000/svg" viewBox="-251.1 355.3 40 25.5"><path d="M-214.5 373.9c-3.2-1-4.3-2.3-4.5-3.2 1-0.1 2.9-0.4 4-1.5 0.2-0.2 0.3-0.5 0.2-0.7 -0.1-0.2-0.3-0.4-0.5-0.5 -0.1 0-1.4-0.6-1.1-3.4 0.2-2.1 0.1-4.9-1.4-6.4 -0.6-0.6-1.5-1-2.4-1 -0.6-0.5-2-1.4-4.3-0.5h0c-1.6 0.6-3.6 2-3.5 6.9 0.1 3.2-0.7 4.2-1.1 4.3 -0.3 0-0.5 0.1-0.6 0.4 -0.2 0.2-0.1 0.6 0.1 0.8 0.1 0.2 1.2 1.6 4.3 1.7 -0.2 0.6-0.8 1.6-2.8 2.5 -0.4 0.2-0.8 0.3-1.2 0.5 0 0-0.1 0-0.2 0.1 -4.1-1.2-5.1-2.5-5.4-3.1 3.2-2.2 2.8-7.6 2.8-8 -0.2-4.9-3.8-6.1-6-6.1 -2.1-0.1-5.8 1.1-6 6.1 0 0.5-0.5 6 2.9 8.2 -0.4 0.6-1.6 2-6.1 3.2 -1.9 0.5-2.8 2.3-2.7 4.9 0 0.4 0.4 0.7 0.8 0.7h22.4c0 0 0 0 0.1 0 0 0 0 0 0.1 0h13.7c0.4 0 0.7-0.3 0.8-0.7C-212 376.3-212.8 374.5-214.5 373.9zM-248.5 378.2c0-1 0.3-2.4 1.6-2.7 7.3-1.8 7.4-4.7 7.4-5 0-0.2-0.1-0.3-0.2-0.4 0 0 0 0 0 0 0 0 0 0-0.1 0 0 0 0 0-0.1 0l0 0 0 0c-3.2-1.5-2.6-6.9-2.6-7v0c0.2-4.6 3.8-4.7 4.5-4.6h0c0.7 0 4.2 0.1 4.5 4.6v0c0 0 0.6 5.3-2.5 6.9 -0.3 0.2-0.5 0.5-0.4 0.9 0.1 0.7 0.8 3.2 7.4 4.9 1.2 0.3 1.5 1.5 1.5 2.6L-248.5 378.2zM-226 378.2c0-1.6-0.6-2.8-1.5-3.6 4.3-2 3.6-4.6 3.6-4.8l-0.1 0c-0.1-0.3-0.4-0.6-0.7-0.6 0 0-0.1 0-0.1 0 -1.4 0-2.3-0.3-2.9-0.6 0.9-0.9 1.3-2.6 1.2-5.1 -0.1-4.4 1.8-5.1 2.6-5.4h0c2-0.7 2.9 0.3 2.9 0.4 0.2 0.2 0.4 0.3 0.6 0.3 0.7-0.1 1.2 0.1 1.6 0.5 0.8 0.8 1.2 2.7 1 5.2 -0.2 2.3 0.4 3.6 1.1 4.2 -1 0.5-2.4 0.6-2.9 0.6 -0.4 0-0.6 0.2-0.7 0.6 0 0 0 0 0 0 -0.1 0.4-0.6 3.6 5.5 5.5 1 0.3 1.3 1.7 1.3 2.8L-226 378.2z" /></svg></span>Community</h2>
            </a>
            <div class="fb-page" data-href="https://www.facebook.com/facebook" data-height="600" data-tabs="timeline" data-small-header="false" data-width="500" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote></div></div>
        </div>

        <!-- <h3 class="center-text">Twitter</h3>
            <a class="twitter-timeline" href="https://twitter.com/TwitterDev/timelines/539487832448843776" data-widget-id="709790916773613568">National Park Tweets</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> -->

        <!-- <div class="grid-3">
            <h2 class="center-text">Social</h2>
            <h3 class="feed-item-title"><a href="">Event One</a></h3>
            <p class="feed-item-text">Event one sentence.</p>
            <h3 class="feed-item-title"><a href="">Event One</a></h3>
            <p class="feed-item-text">Event one sentence.</p>
            <h3 class="feed-item-title"><a href="">Event One</a></h3>
            <p class="feed-item-text">Event one sentence.</p>
            <h3 class="feed-item-title"><a href="">Event One</a></h3>
            <p class="feed-item-text">Event one sentence.</p>
        </div> -->
        
        
        <!-- <div class='wrapper'>
            <h2>Twitter Feed</h2>
            <a class="twitter-timeline" href="https://twitter.com/TwitterDev/timelines/539487832448843776" data-widget-id="709790916773613568">National Park Tweets</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div> -->

        <!-- <div class='wrapper'>
            <h2>Twitter Grid</h2>
            <a class="twitter-grid" href="https://twitter.com/TwitterDev/timelines/539487832448843776">National Park Tweets</a> 
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div> -->


    </div>

</div>

<div class="container callout major supporter-callout">
    
        <div class="max-width center-text">
        <h2 class="">Featured Supporters</h2>
        <p class='lead'>We would like to acknowledge the outstanding support of our friends.</p>
        <div class="grid center-text">
            <div class="featured-supporter grid-2">
                <div class="featured-supporter-image featured-sponsor"></div>
                <div class="supporter-text">
                    <h3 class="center-text">Stern Pinball</h3>
                    <p class="supporter-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras cursus mollis metus, et sodales purus aliquam sed. Suspendisse vitae mi ligula. Integer velit lorem, aliquet nec nulla a, tempor convallis massa.</p>
                    <button class='button large'>Become a Sponsor</button>
                </div>
            </div>
            <div class="featured-supporter grid-2">
                <div class="featured-supporter-image featured-volunteer"></div>
                <div class="supporter-text">
                    <h3 class="center-text">Volunteer's Name</h3>
                    <p class="supporter-description">Duis id lectus quis enim varius aliquet non nec enim. Aenean vel diam in ligula cursus aliquam. Aenean felis metus, elementum commodo enim at, volutpat euismod magna. Pellentesque vitae volutpat.</p>
                    <button class='button large'>Get Involved</button>
                </div>
            </div>
        </div>
    </div>
    
</div>

<div class="container donate-callout strip center-text">
    <div class="max-width">
        <p class='lead'>It is through the continued support of many wonderful friends like you that Project Pinball is able to grow.</p>
        <a href="donate.html" class='button large alt'>Make a Donation</a>
    </div>
    <!-- <div class="child-cutout">
        <div class="overflow-hack"></div>
    </div>
    <div class="child-cutout-1">
        <div class="overflow-hack"></div>
    </div> -->
</div>

</div>

{{> footer}}