<div class="page-wrap">
{{> main-nav}}

<header id="main-header" class='main-header header-image pinball-1'>

    <!-- <img class="header-img" src="../img/child-8.jpg" alt=""> -->

    <div class="main-header-content">

        <div class="container">
            <div class="max-width">
                <!-- <div><a class="alt light" href="news.html">News</a></div> -->
                <h1>Project Pinball Charity to dedicate Stern Pinball Machine to patients in Advocate Children’s Hospital</h1>

                <div class="post-details grid">
                    <div class="grid-2">
                        <p class='lead post-date'>April 20, 2016</p>
                    </div>

                    <div class="grid-2">
                        <a class='share-button button large alt-2'>Share</a>
                    </div>
                </div>
            </div>
        </div>


    </div>

</header>

<div class='container'>

    <div class="pinball"></div>

    <div class="max-width">
        <p class="lead">Project Pinball Charity will be dedicating a brand new Stern Iron Man Pinball Machine at Advocate Children’s Hospital in Oak Lawn, IL, on Tuesday, April 28, 2015. This special machine will be dedicated in honor of Zach Dacy, a Chicago area youth who has beat cancer after spending a great length of time in hospitals.</p>

        <p>“We faced challenges as a family during Zach’s many stays in the hospital.” said Joe Dacy, Zach’s father. “One of those challenges was getting him out of bed away from the video games, his tablet, and the confinement of his hospital room. With the help of Project Pinball, we know the Iron Man pinball machine will bring more children out of their beds and onto their feet to gather with their parents. We hope it brings smiles. We hope it brings laughs. We hope it brings…hope!”</p>

        <p>Zach’s love for pinball aided in his own recovery by providing him with a diversion from medical tests, procedures, and medications. The Iron Man pinball machine to be placed at Advocate Children’s Hospital has been signed on the inside by the employees of Stern Pinball, as an example of their support of Project Pinball, and as a reminder to the patients that they are thought of by everyone who assisted in making this special machine.</p>

        <p>Lisa Boland, Child Life Manager for Advocate Children’s Hospital, also appreciates the value of this effort. “We are incredibly grateful to Project Pinball for bringing a pinball machine to our pediatric patients. This will be an entertaining activity for them while they are undergoing treatment in the hospital.”</p>

        <p>About Project Pinball Charity Group. Inc.</p>

        <p>Project Pinball Charity Group. Inc. is dedicated to providing recreational relief to our small patients and their families, as well as the physicians and nurses who care for them. A pinball machine is a powerful instrument that offers therapeutic benefits that fit perfectly within the dynamics of a hospital environment. It helps keep patients active and mobile while also providing amusement. We continue to see how helpful a pinball machine can be in a hospital setting.</p>

        <p>Headquartered in Bonita Springs, Florida, Project Pinball Charity, a nonprofit 501(c)3, has been placing and maintaining pinball machines nationwide into Children’s Hospitals since 2011.</p>

        <p>“We bring joy to children’s lives through active play,” says Daniel Spolar, the charity’s founder and Senior Director, “allowing the smallest patients the opportunity to focus on something other than hospital life.”</p>

    </div>
</div>

<!-- <div class="container callout impact-callout-alt strip center-text">
    <div class="max-width">
        <p class='lead'>We've donated <b>15</b> pinball machines to <b>13</b> hospitals in <b>12</b> states.</p>
        <a href="impact.html" class='button large'>See the Impact</a>
    </div>
    <div class="child-cutout"></div>
</div> -->

</div>

{{> footer}}