<div class="page-wrap">
{{> main-nav}}

<header id="main-header" class='main-header sponsors-header center-text'>

    <!-- <img class="header-img" src="../img/child-8.jpg" alt=""> -->

    <div class="max-width main-header-content">

        <div class="container">
            <h1>Sponsors</h1>

            <p class='lead center-text alt'>The Project Pinball Charity is proud to recognize all of our sponsors who join us in giving and supporting the Children’s Hospital through pinball.</p>

            <!-- <button class='button large'>About Us</button> <button class='button large'>Get Involved</button> -->
        </div>


    </div>

</header>

<div class='container callout major center-text team'>

    <div class="max-width">

        <!-- <h2>Love Across America</h2> -->

        <!-- <h2 class=''>Our Team</h2> -->
        <div class="sponsors">
            <div class="sponsor-group grid">
                <div class="sponsor grid-4">
                    <div class="sponsor-content">
                        <div class="sponsor-image"><span>Sponsor Logo</span></div>
                    </div>
                </div>
                <div class="sponsor grid-4">
                    <div class="sponsor-image"><span>Sponsor Logo</span></div>
                </div>
                <div class="sponsor grid-4">
                    <div class="sponsor-image"><span>Sponsor Logo</span></div>
                </div>
                <div class="sponsor grid-4">
                    <div class="sponsor-image"><span>Sponsor Logo</span></div>
                </div>
                <div class="sponsor grid-4">
                    <div class="sponsor-image"><span>Sponsor Logo</span></div>
                </div>
                <div class="sponsor grid-4">
                    <div class="sponsor-content">
                        <div class="sponsor-image"><span>Sponsor Logo</span></div>
                    </div>
                </div>
                <div class="sponsor grid-4">
                    <div class="sponsor-image"><span>Sponsor Logo</span></div>
                </div>
                <div class="sponsor grid-4">
                    <div class="sponsor-image"><span>Sponsor Logo</span></div>
                </div>
                <div class="sponsor grid-4">
                    <div class="sponsor-image"><span>Sponsor Logo</span></div>
                </div>
                <div class="sponsor grid-4">
                    <div class="sponsor-content">
                        <div class="sponsor-image"><span>Sponsor Logo</span></div>
                    </div>
                </div>
                <div class="sponsor grid-4">
                    <div class="sponsor-image"><span>Sponsor Logo</span></div>
                </div>
                <div class="sponsor grid-4">
                    <div class="sponsor-image"><span>Sponsor Logo</span></div>
                </div>
            </div>
        </div>
        <!-- <p class=''>We provide all the equipment, parts, supplies and regular maintenance at no cost to the Children’s Hospital. We are finding out with every visit and every testimony how powerful one pinball machine in the right setting can be.</p> -->

        <!-- <button class='button large'>Contact Us</button> --> <!-- <button class='button'>Default Button</button> <button class='button small'>Small Button</button> -->

    </div>

    <div class="pinball"></div>

</div>

<!-- <div class='container back-to-back-container'>
    <div class="max-width">
        <div class="feed news-feed condensed-news-feed grid">
            <h2 class="feed-heading grid-1"><span><svg class="news-icon" xmlns="http://www.w3.org/2000/svg" viewBox="10.1 7.1 29.8 25.8"><path d="M39.4 7.3c-0.3-0.2-0.7-0.3-1-0.1L25 11.7 11.6 7.2c-0.3-0.1-0.8 0-1 0.1 -0.3 0.2-0.5 0.6-0.5 0.9v18.9c0 0.5 0.3 0.9 0.8 1.1l13.7 4.6 0 0c0 0 0.1 0 0.1 0h0c0 0 0.1 0 0.2 0s0.1 0 0.2 0h0c0 0 0.1 0 0.1 0l0 0 13.7-4.6c0.5-0.1 0.8-0.6 0.8-1.1V8.2C39.9 7.9 39.7 7.5 39.4 7.3zM12.4 9.8l11.4 3.9v16.5l-11.4-3.9C12.4 26.3 12.4 9.8 12.4 9.8zM37.6 26.3l-11.4 3.9V13.7l11.4-3.9V26.3z"/><path d="M28.4 17.3c0.1 0 0.2 0 0.4 0l7-2.4c0.6-0.2 0.9-0.8 0.7-1.5 -0.2-0.6-0.8-0.9-1.5-0.7l-7 2.4c-0.6 0.2-0.9 0.8-0.7 1.5C27.4 17 27.9 17.3 28.4 17.3z"/><path d="M28.4 21.6c0.1 0 0.2 0 0.4 0l7-2.4c0.6-0.2 0.9-0.8 0.7-1.5 -0.2-0.6-0.8-0.9-1.5-0.7l-7 2.4c-0.6 0.2-0.9 0.8-0.7 1.5C27.4 21.3 27.9 21.6 28.4 21.6z"/><path d="M28.4 25.9c0.1 0 0.2 0 0.4 0l3.1-1c0.6-0.2 0.9-0.8 0.7-1.5 -0.2-0.6-0.8-0.9-1.5-0.7l-3.1 1c-0.6 0.2-0.9 0.8-0.7 1.5C27.4 25.6 27.9 25.9 28.4 25.9z"/><path d="M22 15.1l-7-2.4c-0.6-0.2-1.3 0.1-1.5 0.7 -0.2 0.6 0.1 1.3 0.7 1.5l7 2.4c0.1 0 0.2 0 0.4 0 0.5 0 0.9-0.3 1.1-0.8C22.9 16 22.6 15.3 22 15.1z"/><path d="M22 19.4L15 17c-0.6-0.2-1.3 0.1-1.5 0.7 -0.2 0.6 0.1 1.3 0.7 1.5l7 2.4c0.1 0 0.2 0 0.4 0 0.5 0 0.9-0.3 1.1-0.8C22.9 20.2 22.6 19.6 22 19.4z"/><path d="M18 22.4l-3.1-1c-0.6-0.2-1.3 0.1-1.5 0.7 -0.2 0.6 0.1 1.3 0.7 1.5l3.1 1c0.1 0 0.2 0 0.4 0 0.5 0 0.9-0.3 1.1-0.8C19 23.2 18.6 22.6 18 22.4z"/></svg></span>News</h2>
            <div class="post-preview expanded-news-preview grid-2">
                <div class="post-preview-image post-preview-image-4"></div>
                <h3 class="feed-item-title"><a class="" href="">Three people making a difference in April</a></h3>
                <p class="feed-item-post-date">Posted on March 21, 2016</p>
                <p class="feed-item-text">Daniel Spolar Founder, Project Pinball Charity Project Pinball Charity, a nonprofit with headquarters in Bonita Springs, recently dedicated a pinball machine in its sixth location... <a href="">more</a></p>
            </div>
            <div class="post-preview expanded-news-preview grid-2">
                <div class="post-preview-image post-preview-image-3"></div>
                <h3 class="feed-item-title"><a class="" href="">Chris Griffith Helping Sick Children as Pinball Wizard</a></h3>
                <p class="feed-item-post-date">Posted on March 2, 2016</p>
                <p class="feed-item-text">When Downing-Frye agent Chris Griffith took a Health Care Tour through the Bonita Chamber of Commerce five years ago she had no idea that it would be... <a href="">more</a></p>
            </div>
            <div class="post-preview condensed-news-preview grid-2">
                <div class="post-preview-image post-preview-image-1"></div>
                <h3 class="feed-item-title"><a class="" href="">ABC TV News Story</a></h3>
                <p class="feed-item-post-date">Posted on Feb 12, 2016</p>
                <p class="feed-item-text">ABC news story on the pinball machine donated to the Omaha Children's Hospital... <a href="">more</a></p>
            </div>
            <div class="post-preview condensed-news-preview grid-2">
                <div class="post-preview-image post-preview-image-2"></div>
                <h3 class="feed-item-title"><a class="" href="">NBC TV News Story</a></h3>
                <p class="feed-item-post-date">Posted on Jan 19, 2016</p>
                <p class="feed-item-text">The Project Pinball Charity Group talking about the resurgence of pinball and the helpful properties that they have and how Children’s Hospitals... <a href="">more</a></p>
            </div>
            <div class="post-preview condensed-news-preview grid-2">
                <div class="post-preview-image post-preview-image-2"></div>
                <h3 class="feed-item-title"><a class="" href="">Project Pinball Charity to dedicate Stern Pinball Machine to patients...</a></h3>
                <p class="feed-item-post-date">Posted on March 29, 2015</p>
                <p class="feed-item-text">Project Pinball Charity will be dedicating a brand new Stern Iron Man Pinball Machine at Advocate Children’s Hospital in Oak Lawn, IL, on Tuesday, April 28, 2015. This special machine will be dedicated in honor of Zach Dacy, a Chicago area youth who has beat cancer after spending a great length of time in hospitals. <a href="">more</a></p>
            </div>
            <div class="post-preview condensed-news-preview grid-2">
                <div class="post-preview-image post-preview-image-4"></div>
                <h3 class="feed-item-title"><a class="" href="">Three people making a difference in April</a></h3>
                <p class="feed-item-post-date">Posted on March 21, 2016</p>
                <p class="feed-item-text">Daniel Spolar Founder, Project Pinball Charity Project Pinball Charity, a nonprofit with headquarters in Bonita Springs, recently dedicated a pinball machine in its sixth location... <a href="">more</a></p>
            </div>
            <div class="grid-1">
                <button class='button large on-light'>More News</button>
            </div>
        </div>

    </div>

</div> -->

<div class="container callout impact-callout-alt strip center-text">
    <div class="max-width">
        <p class='lead'>It is through the continued support of many wonderful friends like you that Project Pinball is able to grow.</p>
        <a href="impact.html" class='button large alt'>Become a Sponsor</a>
    </div>
    <div class="child-cutout"></div>
</div>

</div>

{{> footer}}