<div class="page-wrap">
{{> main-nav}}

<header id="main-header" class='main-header center-text'>

    <!-- <img class="header-img" src="../img/child-8.jpg" alt=""> -->

    <div class="main-header-content">

        <div class="container">
            <div class="max-width">
                <!-- <div><a class="alt light" href="news.html">News</a></div> -->
                <h1>T-Shirt</h1>

                <div class="store-item-photo tshirt-1"></div>

                <div class="item-details">
                    <p class='price'>$25.00</p>
                    <p>Free Shipping</p>
                    <div>
                        <select name="" id="">
                            <option value="">Size</option>
                            <option value="">S</option>
                            <option value="">M</option>
                            <option value="">L</option>
                            <option value="">XL</option>
                            <option value="">XXL</option>
                        </select>
                        <select name="" id="">
                            <option value="">Color</option>
                            <option value="">Black</option>
                            <option value="">Cohen Blue</option>
                            <option value="">Lime Green</option>
                        </select>
                        <select name="" id="">
                            <option value="">Quantity</option>
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                            <option value="">5</option>
                            <option value="">6</option>
                            <option value="">7</option>
                            <option value="">8</option>
                            <option value="">9</option>
                            <option value="">10</option>
                        </select>
                    </div>
                    <button class="button alt-2">Buy Now</button>
                    <a class='share-button button large alt-2'>Share</a>
                </div>
            </div>
        </div>


    </div>

</header>

<div class='container'>

    <div class="pinball"></div>

    <div class="max-width">
        <p class="lead">Look sharp in your own Project Pinball Charity T-shirt. Three colors to choose from: Cohen Blue, Lime Green or Black. Our T-shirts are made from quality materials and feature bright, lasting prints.</p>
    </div>
</div>

<!-- <div class="container callout impact-callout-alt strip center-text">
    <div class="max-width">
        <p class='lead'>We've donated <b>15</b> pinball machines to <b>13</b> hospitals in <b>12</b> states.</p>
        <a href="impact.html" class='button large'>See the Impact</a>
    </div>
    <div class="child-cutout"></div>
</div> -->

</div>

{{> footer}}