<div class="page-wrap">

{{> main-nav}}

<header id="main-header" class='main-header store-header center-text header-image pinball-2'>
    <div class="max-width main-header-content">
        <div class="container">
            <h1>Store</h1>
            <p class='lead'>All sales are put directly towards a purchase of another pinball machine for another hospital, helping more kids, parents, nurses, and doctors.</p>
        </div>
    </div>
</header>

<div class='container callout major center-text team'>
    <div class="max-width">
        <div class="for-sale grid">
            <div class="store-item grid-3">
                <div class="store-item-image tshirt-1"></div>
                <h3 class="name">T-Shirt</h3>
                <a class='button large alt-2' href="store-item.html">Donate $25</a>
            </div>
            <div class="store-item grid-3">
                <div class="store-item-photo sticker-1"></div>
                <h3 class="name">Pinball Machine Stickers</h3>
                <button class='button large alt-2'>Donate $25</button>
            </div>
            <div class="store-item grid-3">
                <div class="store-item-photo artwork-1"></div>
                <h3 class="name">Artwork</h3>
                <button class='button large alt-2'>Donate $25</button>
            </div>
            <div class="row grid-1 grid">
                <div class="store-item grid-2">
                    <div class="store-item-photo placeholder"></div>
                    <h3 class="name">Store Item</h3>
                    <button class='button large alt-2'>Donate $25</button>
                </div>
                <div class="store-item grid-2">
                    <div class="store-item-photo placeholder"></div>
                    <h3 class="name">Store Item</h3>
                    <button class='button large alt-2'>Donate $75</button>
                </div>
            </div>
        </div>
    </div>
    <div class="pinball"></div>
</div>

<div class="container callout impact-callout-alt strip center-text">
    <div class="max-width">
        <p class='lead'>Our pinball sweepstakes gives you a chance to win amazing pinball prizes!</p>
        <a href="sweepstakes.html" class='button large alt'>Enter Sweepstakes</a>
    </div>
    <div class="child-cutout"></div>
</div>

</div>

{{> footer}}