    


<div class="theme-menu">
    <button id="theme-1-button" class="button theme-button">Style 1</button>
    <button id="theme-2-button" class="button theme-button">Style 2</button>
    <button id="theme-3-button" class="button theme-button">Style 3</button>
</div>

<div class='logo-nav'>
    <div class='logo'></div>

    <nav class='main-nav'>
        <a href="">About</a>
        <a href="">Impact</a>
        <a href="">Get Involved</a>
        <a href="">Store</a>
        <a href="">Events</a>
        <a href="">News</a>
        <a href="">Sponsors</a>
        <a href="">Contact</a>
        <a href="">Donate</a>
    </nav>
</div>

<header class='header'>
    <div class="max-width">

        <div class="color-palette">
            <div class="color-swatches">
                <div class="palette-swatch dark-color"></div>
                <div class="palette-swatch color1"></div>
                <div class="palette-swatch color2"></div>
                <div class="palette-swatch color3"></div>
                <div class="palette-swatch color4"></div>
                <div class="palette-swatch light-color"></div>
            </div>
        </div>

        <h1>Bringing the joy of pinball to children's hospitals across our nation</h1>

        <p class='lead'>Headquartered in Bonita Springs, Florida, <a href='#'>Project Pinball</a> is a registered 501(c)(3) charity organization that places pinball machines in children’s hospitals to provide recreational relief to patients, family members, and hospital staff. We have been donating and maintaining pinball machines since 2011, and have since become a nationwide organization with pinball machines in hospitals across the United States. We provide all the equipment, parts, supplies and the regular maintenance at no cost to the hospital. So far, we have raised over $40,000 and donated 15 pinball machines to 13 hospitals in 12 states.</p>

        <button class='button large'>Large Button</button> <!-- <button class='button'>Default Button</button> <button class='button small'>Small Button</button> -->

        <form class='form' action=''>
                <div>
                    <label class="label" for="">First Name</label>
                    <input type='text'>
                    <label class="label" for="">Last Name</label>
                    <input type='text'>
                </div>
                <div>
                    <label class="label" for="">Email Address</label>
                    <input type='text'>
                </div>

                <div>
                    <label class="label" for="">Message</label>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </div>
                <select name="" id="">
                    <option value="">Option 1</option>
                    <option value="">Option 2</option>
                    <option value="">Option 3</option>
                    <option value="">Option 4</option>
                </select>
            </form>

        </div>

</header>

<div class='container callout'>

    <div class="max-width">

        <div class="callout">
            <h2>Heading 2</h2>
            <h3>Heading 3</h3>
            <h4>Heading 4</h4>

            <p class='lead'>Headquartered in Bonita Springs, Florida, <a href='#'>Project Pinball</a> is a registered 501(c)(3) charity organization that places pinball machines in children’s hospitals to provide recreational relief to patients, family members, and hospital staff. We have been donating and maintaining pinball machines since 2011, and have since become a nationwide organization with pinball machines in hospitals across the United States. We provide all the equipment, parts, supplies and the regular maintenance at no cost to the hospital. So far, we have raised over $40,000 and donated 15 pinball machines to 13 hospitals in 12 states.</p>

            <p><a href='#'>Project Pinball</a> began with the discovery of a broken pinball machine at Golisano Children’s Hospital of Southwest Florida. The machine, located at The Chrissy Brown Hematology and Oncology Unit was no longer functioning. The pinball community and many local benefactors raised funds and donated time to restore the machine to perfect condition. This Spiderman Pinball machine, by Stern Pinball, was a memorial gift donated to the hospital in the memory of Jimmy Schneeberger February 17, 1989 – April 13, 2000. It just wasn’t right to see this memorial gift in such disrepair so we decided to change that.  During restoration a few changes were made to light bulbs and other high use items in the machine so that it would last longer and not damage as easily as it did before. The members and friends of Project Pinball have not only made a commitment to restore the machine but to also keep it on a regular maintenance schedule so that it doesn’t end up in disrepair again.</p>

            <button class='button large'>Large Button</button> <!-- <button class='button'>Default Button</button> <button class='button small'>Small Button</button> -->

        </div>
    </div>

</div>

<div class="container callout strip">
    <div class="max-width">
        <h2>Heading 2</h2>
        <p class='lead'>Headquartered in Bonita Springs, Florida, <a href='#'>Project Pinball</a> is a registered 501(c)(3) charity organization that places pinball machines in children’s hospitals to provide recreational relief to patients, family members, and hospital staff. We have been donating and maintaining pinball machines since 2011, and have since become a nationwide organization with pinball machines in hospitals across the United States. We provide all the equipment, parts, supplies and the regular maintenance at no cost to the hospital. So far, we have raised over $40,000 and donated 15 pinball machines to 13 hospitals in 12 states.</p>
    </div>
</div>

<div class='container'>

    <div class="max-width">
        <div class="content-section">
            <h2>News</h2>
            <h4>News Post One</h4>
            <p>News post one sentence.</p>
        </div>
        <div class="content-section">
            <h2>Events</h2>
            <h4>Event One</h4>
            <p>Event one sentence.</p>
        </div>
        <div class="content-section">
            <h2>Social</h2>
        </div>
        
        
        <div class='wrapper'>
            <h2>Twitter Feed</h2>
            <a class="twitter-timeline" href="https://twitter.com/TwitterDev/timelines/539487832448843776" data-widget-id="709790916773613568">National Park Tweets</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>

        <div class='wrapper'>
            <h2>Twitter Grid</h2>
            <a class="twitter-grid" href="https://twitter.com/TwitterDev/timelines/539487832448843776">National Park Tweets</a> 
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>


        <div class='wrapper'>
            <h2>Facebook Feed</h2>
            <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote></div></div>
        </div>


    </div>

</div>

<div class='container'>

    <div class="max-width">
        
        <nav class='sub-nav'>
            <a href=''>Sub-Nav Link 1</a>
            <a href=''>Sub-Nav Link 2</a>
            <a href=''>Sub-Nav Link 3</a>
            <a href=''>Sub-Nav Link 4</a>
            <a href=''>Sub-Nav Link 5</a>
        </nav>

        <div class="main-content">

            <h2>Heading 2</h2>
            <h3>Heading 3</h3>
            <h4>Heading 4</h4>

            <p class='lead'>Headquartered in Bonita Springs, Florida, <a href='#'>Project Pinball</a> is a registered 501(c)(3) charity organization that places pinball machines in children’s hospitals to provide recreational relief to patients, family members, and hospital staff. We have been donating and maintaining pinball machines since 2011, and have since become a nationwide organization with pinball machines in hospitals across the United States. We provide all the equipment, parts, supplies and the regular maintenance at no cost to the hospital. So far, we have raised over $40,000 and donated 15 pinball machines to 13 hospitals in 12 states.</p>

            <p><a href='#'>Project Pinball</a> began with the discovery of a broken pinball machine at Golisano Children’s Hospital of Southwest Florida. The machine, located at The Chrissy Brown Hematology and Oncology Unit was no longer functioning. The pinball community and many local benefactors raised funds and donated time to restore the machine to perfect condition. This Spiderman Pinball machine, by Stern Pinball, was a memorial gift donated to the hospital in the memory of Jimmy Schneeberger February 17, 1989 – April 13, 2000. It just wasn’t right to see this memorial gift in such disrepair so we decided to change that.  During restoration a few changes were made to light bulbs and other high use items in the machine so that it would last longer and not damage as easily as it did before. The members and friends of Project Pinball have not only made a commitment to restore the machine but to also keep it on a regular maintenance schedule so that it doesn’t end up in disrepair again.</p>

            <button class='button large'>Large Button</button> <!-- <button class='button'>Default Button</button> <button class='button small'>Small Button</button> -->

        </div>

    </div>
</div>

<footer class='main-footer'>
    <div class="max-width">
        <nav class='footer-nav'>
            <a href="">About</a>
            <a href="">Impact</a>
            <a href="">Get Involved</a>
            <a href="">Store</a>
            <a href="">Events</a>
            <a href="">News</a>
            <a href="">Sponsors</a>
            <a href="">Contact</a>
        </nav>
    </div>
</footer>