<div class="page-wrap">
{{> main-nav}}

<header id="main-header" class='main-header store-header center-text header-image pinball-2'>

    <div class="max-width main-header-content">

        <div class="container">
            <h1>Sweepstakes</h1>

            <p class='lead'>Donate for a chance to win amazing pinball prizes!</p>

            <!-- <button class='button large'>Button</button> -->
        </div>


    </div>

</header>

<div class='container callout major center-text team sweepstakes-options'>

    <div class="max-width">
        <div class="for-sale grid">
            <div class="grid-1 grid">
                <div class="sale-item grid-2 ">
                    <h2 class="name">Pro Sweepstakes</h2>
                    <!-- <div class="sale-item-image"></div> -->
                    <p>For a donation of $25 you will be entered for a chance to win a brand new Pro Model Stern Pinball machine.</p>
                    <button class='button large alt-2'>Donate $25</button>
                </div>
                <div class="sale-item grid-2">
                    <h2 class="name">Premium Sweepstakes</h2>
                    <!-- <div class="sale-item-image"></div> -->
                    <p>For a donation of $75 you will be entered for a chance to win a brand new Premium Model Stern Pinball machine.</p>
                    <button class='button large alt-2'>Donate $75</button>
                </div>
            </div>
        </div>

        <div class="pinball"></div>

    </div>
</div>

<div class="container">
    <div class="max-width">
            <h2 class="center-text">Previous Winners</h2>
            <div class="grid">
                <div class="grid-3 hospital-preview">
                    <!-- <div class="hospital-photo"></div> -->
                    <div class="hospital-text">
                        <h3><a class="alt" href="">Ronald Hallett</a></h3>
                        <div>Ghosterbusters- Premium Edition #1 Sweepstakes</div>
                    </div>
                </div>
                <div class="grid-3 hospital-preview">
                    <div class="hospital-text">
                        <h3>Pam Albert</h3>
                        <div>WOZ/ Hobbit #3</div>
                    </div>
                </div>
                <div class="grid-3 hospital-preview">
                    <div class="hospital-text">
                        <h3>George Sinchuk</h3>
                        <div>Pro Model Sweepstakes Winner</div>
                    </div>
                </div>
                <div class="grid-3 hospital-preview">
                    <div class="hospital-text">
                        <h3>Joseph Oravec</h3>
                        <div>Game of Thrones- Limited Edition Sweepstakes</div>
                    </div>
                </div>
                <div class="grid-3 hospital-preview">
                    <div class="hospital-text">
                        <h3> Jason Clark</h3>
                        <div>KISS PREMIUM Sweepstakes</div>
                    </div>
                </div>
                <div class="grid-3 hospital-preview">
                    <div class="hospital-text">
                        <h3>Jeph Stahl</h3>
                        <div>WOZ/ Hobbit #2 Sweepstakes</div>
                    </div>
                </div>
                <div class="grid-3 hospital-preview">
                    <div class="hospital-text">
                        <h3>David Constancio</h3>
                        <div>KISSPRO#1 Sweepstakes</div>
                    </div>
                </div>
                <div class="grid-3 hospital-preview">
                    <div class="hospital-text">
                        <h3>Daniel Sade</h3>
                        <div>WOZ/ Hobbit Sweepstakes #1</div>
                    </div>
                </div>
                <div class="grid-3 hospital-preview">
                    <div class="hospital-text">
                        <h3>Ron Williams</h3>
                        <div>Sweepstakes #8</div>
                    </div>
                </div>
                <div class="grid-3 hospital-preview">
                    <div class="hospital-text">
                        <h3>Jimmy Leingang</h3>
                        <div>Sweepstakes #7</div>
                    </div>
                </div>
                <div class="grid-3 hospital-preview">
                    <div class="hospital-text">
                        <h3>Jarred Lauder</h3>
                        <div>Sweepstakes #6</div>
                    </div>
                </div>
                <div class="grid-3 hospital-preview">
                    <div class="hospital-text">
                        <h3>Sweepstakes #5</h3>
                        <div>P. OGrady</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container callout impact-callout-alt strip center-text">
    <div class="max-width">
        <p class='lead'>Support Project Pinball by making a purchase at our store.</p>
        <a href="store.html" class='button large alt'>Shop Now</a>
    </div>
    <div class="child-cutout"></div>
</div>

</div>

{{> footer}}