<footer class='main-footer'>
    <div class="container">
        <div class="max-width">
            <nav class='footer-nav'>
                <!-- <a href="index.html" class='logo footer-logo'></a> -->
                <a class="footer-nav-link" href="donate.html">Donate</a>
                <a class="footer-nav-link" href="about.html">About</a>
                <a class="footer-nav-link" href="news.html">News</a>
                <a class="footer-nav-link" href="impact.html">Impact</a>
                <a class="footer-nav-link" href="get-involved.html">Get Involved</a>
                <a class="footer-nav-link" href="events.html">Events</a>
                <a class="footer-nav-link" href="store.html">Store</a>
                <a class="footer-nav-link" href="sweepstakes.html">Sweepstakes</a>
                <a class="footer-nav-link" href="sponsors.html">Sponsors</a>
                <a class="footer-nav-link" href="contact.html">Contact</a>
                <a class="footer-nav-link footer-icon" href="">
                    <svg class="twitter-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M50 9.5c-1.8 0.8-3.8 1.4-5.9 1.6 2.1-1.3 3.7-3.3 4.5-5.7 -2 1.2-4.2 2-6.5 2.5 -1.9-2-4.5-3.2-7.5-3.2 -5.7 0-10.3 4.6-10.3 10.3 0 0.8 0.1 1.6 0.3 2.3C16.1 16.9 8.5 12.8 3.5 6.6c-0.9 1.5-1.4 3.3-1.4 5.2 0 3.6 1.8 6.7 4.6 8.5C5 20.2 3.4 19.7 2 19v0.1c0 5 3.5 9.1 8.2 10.1 -0.9 0.2-1.8 0.4-2.7 0.4 -0.7 0-1.3-0.1-1.9-0.2 1.3 4.1 5.1 7 9.6 7.1 -3.5 2.8-7.9 4.4-12.7 4.4 -0.8 0-1.6 0-2.4-0.1 4.5 2.9 9.9 4.6 15.7 4.6C34.7 45.4 45 29.8 45 16.2c0-0.4 0-0.9 0-1.3C46.9 13.4 48.6 11.6 50 9.5z"/></svg>
                </a>
                <a class="footer-nav-link footer-icon" href="">
                    <svg class="facebook-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M47.2 0H2.8C1.2 0 0 1.2 0 2.8v44.5C0 48.8 1.2 50 2.8 50h44.5c1.5 0 2.8-1.2 2.8-2.8V2.8C50 1.2 48.8 0 47.2 0zM42.2 14.6h-4c-3.1 0-3.7 1.5-3.7 3.7v4.8H42l-1 7.5h-6.5V50h-7.8V30.6h-6.5v-7.5h6.5v-5.6c0-6.5 3.9-10 9.7-10 2.8 0 5.1 0.2 5.8 0.3V14.6z"/></svg>
                </a>
                <a class="footer-nav-link footer-icon back-to-top" href="#main-nav"><div class="circle-icon"><svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" viewBox="8.6 7.6 31.5 19.2"><title></title><desc></desc><path d="M24.8 7.8l15.1 15.1c0.3 0.3 0.3 0.7 0 0.9l-2.8 2.8c-0.3 0.3-0.7 0.3-0.9 0l-11.8-11.8 -11.8 11.8c-0.3 0.3-0.7 0.3-0.9 0l-2.8-2.8c-0.3-0.3-0.3-0.7 0-0.9l15.1-15.1C24.1 7.5 24.5 7.5 24.8 7.8z"/></svg></div></a>
                <!-- <a class="instagram-logo" href=""></a> -->
                <!-- <a class="donate-button button" href="">Donate</a> -->
            </nav>
        </div>
    </div>
    <div id="" class="footer-details container small">
        <div class="max-width">
            <p>Project Pinball Charity Group Inc. &bull; PO 368022 Bonita Springs, FL 34136 &bull; 239-287-5497 &bull; <a href="mailto:projectpinballcharity@gmail.com">projectpinballcharity@gmail.com</a></p>
            <p class="small">Project Pinball Charity is a registered 501(c)(3) non for profit charity organization, IRS identification number 00-1234567. Donations made to the Project Pinball Charity are tax deductible in the U.S.</p>
        </div>
    </div>
    <div id="theme-menu" class="theme-menu">
        <button id="theme-1-button" class="button theme-button">Theme 1</button>
        <button id="theme-2-button" class="button theme-button">Theme 2</button>
    </div>
    <div class="pinball-footer">
        <div class="playfield">
            <button class="play-again"></button>
        </div>
        <div class="ball-lane">
            <div class="ball"></div>
        </div>
        <div class="pinball-front">
            <div class="pinball-controls">
                <button class="bumper-button left"></button>
                <button class="bumper-button right"></button>
            </div>
            <button class="start-button"></button>
            <div class="coin-slots">
                <button class="coin-slot"></button>
            </div>
            <button class="plunger"></button>
        </div>
    </div>
</footer>