<nav id="main-nav" class='main-nav'>

    <div class="container flush-y">
    <div class="inner-container">


            <!-- <a href="index.html" class='logo main-logo'></a> -->

            <div class="main-nav-list">
                <a class="main-nav-link" href="about.html">About</a>
                <a class="main-nav-link" href="impact.html">Impact</a>
                <a class="main-nav-link" href="get-involved.html">Get Involved</a>
                <a class="main-nav-link" href="store.html">Store</a>
                <a class="main-nav-link" href="sweepstakes.html">Sweepstakes</a>
                <a class="main-nav-link" href="sponsors.html">Sponsors</a>
                <a class="main-nav-link" href="contact.html">Contact</a>
                <a class="main-nav-link facebook" href="https://www.facebook.com/ProjectPinball/" target="_blank">
                    <svg class="facebook-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M47.2 0H2.8C1.2 0 0 1.2 0 2.8v44.5C0 48.8 1.2 50 2.8 50h44.5c1.5 0 2.8-1.2 2.8-2.8V2.8C50 1.2 48.8 0 47.2 0zM42.2 14.6h-4c-3.1 0-3.7 1.5-3.7 3.7v4.8H42l-1 7.5h-6.5V50h-7.8V30.6h-6.5v-7.5h6.5v-5.6c0-6.5 3.9-10 9.7-10 2.8 0 5.1 0.2 5.8 0.3V14.6z"/></svg>
                </a>
                <a class="main-nav-link twitter" href="https://twitter.com/ProjectPinball" target="_blank">
                    <svg class="twitter-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M50 9.5c-1.8 0.8-3.8 1.4-5.9 1.6 2.1-1.3 3.7-3.3 4.5-5.7 -2 1.2-4.2 2-6.5 2.5 -1.9-2-4.5-3.2-7.5-3.2 -5.7 0-10.3 4.6-10.3 10.3 0 0.8 0.1 1.6 0.3 2.3C16.1 16.9 8.5 12.8 3.5 6.6c-0.9 1.5-1.4 3.3-1.4 5.2 0 3.6 1.8 6.7 4.6 8.5C5 20.2 3.4 19.7 2 19v0.1c0 5 3.5 9.1 8.2 10.1 -0.9 0.2-1.8 0.4-2.7 0.4 -0.7 0-1.3-0.1-1.9-0.2 1.3 4.1 5.1 7 9.6 7.1 -3.5 2.8-7.9 4.4-12.7 4.4 -0.8 0-1.6 0-2.4-0.1 4.5 2.9 9.9 4.6 15.7 4.6C34.7 45.4 45 29.8 45 16.2c0-0.4 0-0.9 0-1.3C46.9 13.4 48.6 11.6 50 9.5z"/></svg>
                </a>
            </div>
        
        <!-- <div class="main-nav-essentials"> -->

            <a class="main-donate-button donate-button button essential-button alt" href="donate.html">
                <span><svg class="icon heart-icon" xmlns="http://www.w3.org/2000/svg" viewBox="271.6 -217.8 50 45.3"><path d="M296.6-211.1c-2.2-4.5-6.6-6.7-11.7-6.7 -7.3 0-13.3 6.4-13.3 14.3 0 12.8 25 31.1 25 31.1s25-18.2 25-31.1c0-7.9-6-14.3-13.3-14.3C303.3-217.8 298.9-215.6 296.6-211.1z"/></svg></span>
                <span>Donate</span>
            </a>

            <a href="index.html" class='logo main-logo'></a>

            <button id="toggle-nav-button" class="toggle-nav-button button essential-button">
                <span class="toggle-nav-icon">
                    <div class="nav-icon-line"></div>
                    <div class="nav-icon-line"></div>
                    <div class="nav-icon-line"></div>
                </span>
                <span>Menu</span>
            </button>

    </div>
    </div>
    <!-- </div> -->

</nav>